﻿@model System.Collections.Generic.List<TNotification>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox ">
    <div class="ibox-content">
        <div class="tab-content">
            <div id="contact-1" class="tab-pane active">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <h2>Notificações</h2>
                    </div>
                </div>
                <div class="client-detail">
                    <div class="full-height-scroll">
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            @foreach (var notificacao in Model)
                            {
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon navy-bg">
                                        <i class="fa fa-warning"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <p>
                                            <strong>@notificacao.Title</strong>
                                        </p>
                                        <p>
                                            @notificacao.Title
                                        </p>
                                        @if (notificacao.CreationDate != null)
                                        {
                                            <span class="vertical-date small text-muted"> @notificacao.CreationDate.Value.ToShortDateString()</span>

                                        }
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
