body
{
    font-family: Trebuchet MS, Garuda, sans-serif;
    margin: 0;
	background: #F0F0F0;
}

div.container
{
	width: 1000px;
	margin: auto;
	height: 100%;
}

div.header
{
    height: 60px;
    background: #9C1200 url(avalon/header.png) repeat-x;
    border-bottom: solid 4px #994433;
}

div.header span.logo
{
    color: white;
    font-size: 1.75em;
    margin: 12px 0;
    font-weight: bold;
    float: left;
    text-shadow: 2px 2px 4px black;
}

div.header div.menu
{
	margin-top: 5px;
    float: right;
}

div.header div.menu ul
{
    list-style: none;
}

div.header div.menu li
{
    float: left;
}

div.header div.menu li a
{
    color: white;
    font-style: normal;
    padding: 4px;
    margin: 5px 0px 5px 12px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.header div.menu li a:hover
{
    background: #75271D;
}


div.content div.container
{
	background: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 970px;
    border: 1px solid LightGray;
}

div.footer
{
    font-size: 0.8em;
    text-align: center;
}

div.footer div.container 
{
	border-top: 1px solid Gray;
}


a
{
    text-decoration: none;
    font-weight: bold;
    color: #650C00;
}
a:hover
{
	color: #CE4533;
}


table
{
	padding-top: 15px;
    border-spacing: 0;
    min-width: 300px;
}

table th
{
    padding: 4px 5px;
    text-align: left;
    background: #EEEEEE;
}
table td
{
    background: White;
    padding: 4px;
    border: 0;
}


table.collapsed
{
    border-collapse: collapse;
}
h1, h2, h3, h4, h5, h6
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 0;
    padding-bottom: 0;
}

div.form-title > h2
{
    margin-bottom: 0;
}
div.form-title > p
{
    margin-top: 0;
    margin-bottom: 0;
}
div.form-title
{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}


fieldset label
{
    display: block;
    font-weight: bold;
}

textarea
{
    overflow: auto;
}

input, select, textarea
{
    font-family: Trebuchet MS, sans-serif;
}

input[type=text], input[type=password], select, textarea
{
    border: 1px solid gray;
    width: 400px;
    padding: 4px;
    font-size: 1em;
}

input[type=text]:hover, input[type=password]:hover, select:hover, textarea:hover
{
    border: 1px solid black;
}

.input-validation-error
{
    border: 2px solid #9C1200 !important;
}

input[type=submit], input[type=button], .buttons a
{
    font-size: 0.9em;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
    color: White;
    background-color: #75271D;
	display: inline-block;
	border: none;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	line-height: 20px;
	vertical-align: middle;
	
	width: auto;
	overflow: visible;
	
	text-align: center;
}

input[type=submit], input[type=button]
{
	height: 32px;
}


input[type=submit]:hover, input[type=button]:hover, .buttons a:hover
{
    background-color: #9C1200;
}

input[type=submit]:active, input[type=button]:active,  .buttons a:active
{
    background-color: #CE6A5C;
}

fieldset input[type=checkbox] + label
{
    display: inline;
}

div.simple-notification-error
{
   	background: #fff4e7;
	border: 2px solid #cc0000;
	margin: 5px 0;
	padding: 6px;
	text-align: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
    color: #9C1200;
}

div.simple-notification-success
{
    background: #edffe7;
	border: 2px solid #32b200;
	margin: 5px 0;
	padding: 6px;
	text-align: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;    
	color: #008000;
}

div.simple-notification-success span, div.simple-notification-error span
{
    font-weight: bold;
}

div.simple-notification-success ul, div.simple-notification-error ul
{
    font-size: 0.9em;
}

hr
{
	clear: both;
}

div.confirm
{
	margin: 15px;
}
div.confirm span 
{
	background: url(avalon/warning.png) no-repeat;
	padding-left: 50px;
	min-height: 50px;
	display: block;
	font-weight: bold;
}

div.confirm div.buttons 
{
	text-align: right;
}

div.home_actions 
{
	overflow: auto;
	width: 100%;
}

div.home_action
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #BBBBBB;
    padding: 5px;
    margin: 1%;
    background-color: white;
    color: #666666;
    cursor: pointer;
    display: block;
    width: 46%;
    float: left;
    border-spacing: 30px;
}

div.home_action:hover 
{
    color:Black;
    background-color: #EEEEEE;
    border: 2px solid black;
}