﻿div.system_check_failure
{
	background: #fff4e7;
	border: 2px solid #cc0000; /*	height: 44px;*/
	margin: 5px 0;
	padding: 6px;
	text-align: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

div.system_check_warning
{
	background: #ffffdd;
	border: 2px solid #eecc00;
	margin: 5px 0;
	padding: 6px;
	text-align: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

div.system_check_success
{
	background: #edffe7;
	border: 2px solid #32b200;
	margin: 5px 0;
	padding: 6px;
	text-align: left;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}