﻿@inherits MvcContrib.FluentHtml.ModelWebViewPage<TUser>
<script src="https://www.google.com/recaptcha/api.js"></script>
<style>
    
.modal-sm {
    width: 330px !important;
}

</style>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@((bool)ViewBag.CadastroInstitucional == true ? "Cadastre-se:" : "Entrar:")</h4>
            </div>
            @using (Html.BeginForm(((bool)ViewBag.CadastroInstitucional ? MVC.Usuarios.Cadastrar() : MVC.Usuarios.Login()), FormMethod.Post, new { @class = "form-register" }))
            {
                <div class="modal-body">
                    <div class="subscibe">
                        <div class="@((bool)ViewBag.CadastroInstitucional == false ? "hide" : "") form-group ">
                            <label>Nome:</label>
                            @(this.TextBox(x => x.Name).Class("form-control-optional" + ((bool)ViewBag.CadastroInstitucional == false ? "" : " required")))
                        </div>
                        <div class="form-group">
                            <label>E-mail:</label>
                            @(this.TextBox(x => x.Email).Class("form-control-optional email required"))
                        </div>
                        <div class="form-group">
                            <label>Senha:</label>
                            @(this.Password(x => x.PasswordString).Class("form-control-optional required"))
                        </div>
                    </div>
                    @if ((bool)ViewBag.CadastroInstitucional == false)
                    {
                        <p class="foot-text">
                            Não possui uma conta ainda? Então <a class="ajax-modal" href="../projetofinal/home/AutenticacaoInstitucional?cadastro=true">Cadastre-se agora mesmo</a>!
                            <br /> <br />
                            Esqueceu sua senha? <a class="ajax-modal" href="@Url.Action(MVC.Usuarios.SolicitacaoAlteracaoSenha(true))">Recupere sua senha de acesso</a>!
                        </p>
                    }
                    else
                    {
                        <div class="g-recaptcha required" data-sitekey="6LfWtwgTAAAAAE7h5np9JabeEfbKnVXBDUpzyyKb"></div>
                        <p class="foot-text">
                            Ao se cadastrar em nossa plataforma, você estará concordando com nossos <a href="http://html5layouts.com">Termos de Uso</a>.
                            <br /> <br />
                            Já possui uma conta? Então <a class="ajax-modal" id="#openModal" href="../projetofinal/home/AutenticacaoInstitucional?cadastro=false">Acesse agora mesmo!</a>!
                        </p>
                    }
                    <span id="signinButton">
                        <span class="g-signin btn btn-primary"
                              data-callback="signinCallback"
                              data-clientid="971126481557-dfkuj8a89agdopgdrk7lhj0oltu0uskv.apps.googleusercontent.com"
                              data-cookiepolicy="single_host_origin"
                              data-requestvisibleactions="http://schemas.google.com/AddActivity"
                              data-scope="https://www.googleapis.com/auth/plus.login">
                        </span>
                    </span>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@((bool)ViewBag.CadastroInstitucional == true ? "Cadastrar" : "Entrar")</button>
                </div>
            }

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $(".modal").livequery(function () {
        $(this).on("hidden.bs.modal", function () {
            $("#page-top").removeAttr("style");
            $("#myModal").modal("hide");
            $(".modal-backdrop").hide();
        });
    });

    $(document).ready(function () {
        App.init();
    });


    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();


    function signinCallback(authResult) {
        if (authResult['access_token']) {
            gapi.client.load('oauth2', 'v2', function () {
                gapi.client.oauth2.userinfo.get().execute(function (userData) {
                    var nameUser = userData.name;
                    var photoUser = userData.picture;
                    var googleId = userData.id;
                    //var urlRequest = @Url.Action(MVC.Usuarios.AutenticacaoGoogle());
                    App.blockUI({ boxed: true });

                    $.ajax({
                        type: 'GET',
                        url: "/projetofinal/Usuarios/AutenticacaoGoogle",
                        data: { 'name': nameUser, 'urlImage': photoUser, 'googleId': googleId },
                        success: function (data) {
                            App.unblockUI();
                            if (data != false) {
                                console.log(data);
                                $("#modal").empty().html(data);
                                $("#myModal").modal("show");
                            }
                        },
                        error: function (e) {
                            console.log(data);
                            console.log(e);
                            // Gerenciar o erro
                            // console.log(e);
                            // Você pode apontar usuários para desconectar manualmente se não for bem-sucedido
                            // https://plus.google.com/apps
                        }
                    });

                });
            });

            function makeApiCall() {
                gapi.client.load('plus', 'v1', function () {
                    var request = gapi.client.plus.people.get({
                        'userId': 'me'
                    });
                    request.execute(function (resp) {
                        var heading = document.createElement('h4');
                        var image = document.createElement('img');
                        image.src = resp.image.url;
                        heading.appendChild(image);
                        heading.appendChild(document.createTextNode(resp.displayName));
                    });
                    console.info(request);
                });
            }

            makeApiCall(); // Autorizado com sucesso
            // Ocultar o botão de login agora que o usuário está autorizado, por exemplo:
            document.getElementById('signinButton').setAttribute('style', 'display: none');
        } else if (authResult['error']) {
            // Ocorreu um erro.
            // Possíveis códigos de erro:
            //  "access_denied" - o usuário negou o acesso a seu aplicativo
            //   "immediate_failed" - não foi possível fazer o login do usuário automaticamente
            // console.log('There was an error: ' + authResult['error']);
        }
    }


    var revokeUrl = 'https://www.google.com/m8/feeds';

    // Realizar uma solicitação GET assíncrona.
    $.ajax({
        type: 'GET',
        url: revokeUrl,
        async: false,
        contentType: "application/json",
        dataType: 'jsonp',
        success: function (data) {
            console.info(data);
            // Fazer algo agora que o usuário está desconectado
            // A resposta é sempre indefinida.
        },
        error: function (e) {
            // Gerenciar o erro
            // console.log(e);
            // Você pode apontar usuários para desconectar manualmente se não for bem-sucedido
            // https://plus.google.com/apps
        }
    });


    function disconnectUser(access_token) {
        var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' +
            access_token;

        // Realizar uma solicitação GET assíncrona.
        $.ajax({
            type: 'GET',
            url: revokeUrl,
            async: false,
            contentType: "application/json",
            dataType: 'jsonp',
            success: function (nullResponse) {
                // Fazer algo agora que o usuário está desconectado
                // A resposta é sempre indefinida.
            },
            error: function (e) {
                // Gerenciar o erro
                // console.log(e);
                // Você pode apontar usuários para desconectar manualmente se não for bem-sucedido
                // https://plus.google.com/apps
            }
        });
    }

    // É possível desconectar com um clique no botão
    $('#revokeButton').click(disconnectUser);

</script>