﻿@using System.Linq
@using ProjetoFinal.Helpers
@inherits ModelWebViewPage<TBoard>
@{
    var returnUrl = ViewBag.ReturnUrl;
    ModelSelectList<TUser> usuarios = (ModelSelectList<TUser>)ViewBag.Usuarios;
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@(usuarios.Any() ? "Adicionar membros ao quadro:" + Model.Name.LimitSize(30) + "" : "Nenhum usuário disponível")</h4>
            </div>
            @if (usuarios.Any())
            {
                using (Html.BeginForm(MVC.Quadros.AdicionarMembros(), FormMethod.Post, new { @class = "form-validate" }))
                {
                    <div class="modal-body">
                        @(this.Hidden("returnUrl").Value(returnUrl))
                        @(this.Hidden("Id").Value(Model.Id))
                        <label class="control-label">Selecione os usuários:</label>
                        <div class="row row-space-10">
                            <div class="col-md-12 m-b-15">
                                <div class="control-group">
                                    @(this.AutoSelect("listEmails").Options(usuarios).Attr("multiple", "").Attr("data-placeholder", "Buscar usuário:").Class("form-control chosen-select"))
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row row-space-10 i-checks">
                            <div class="col-md-12 m-b-15">
                                <label class="control-label">Definir como Administrador:</label>
                                @(this.CheckBox("isAdministrator").Class("icheckbox_square-green"))
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Incluir membros</button>
                    </div>
                }
            }
            else
            {
                <div class="modal-body">
                    <label class="control-label">Não há mais usuários disponíveis para colaborar com este quadro.</label>
                    <p>Verifique se o seu colaborador possui uma conta ativa. Caso contrário, seu e-mail não aparecerá como disponível.</p>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(".i-checks").livequery(function () {
        $(this).iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green"

        });
    });

    $(".iCheck-helper").livequery(function () {
        $(this).click(function () {
            var remove = $(".icheckbox_square-green").is(':checked');
            if (remove == true) {
                $(".removeHide").removeClass("hidden");
            } else {
                $(".removeHide").addClass("hidden");
            }
        });
    });

    var config = {
        '.chosen-select': { width: "238px" },
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>