﻿@model TBoard
<div class="col-lg-4">
    <div class="ibox" id="nextQuadro">
        <div class="ibox-title">
            <h5>@Model.Name.LimitSize(20)</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="@Url.Action(MVC.Tarefas.Criar(Model.Id))" class="ajax-modal text-center" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Adicionar tarefa ao quadro"><i class="fa fa-plus"></i></a>
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Opções do quadro">
                    <i class="fa fa-ellipsis-v "></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a class="ajax-modal" href="@Url.Action(MVC.Quadros.Editar(Model.Id))"><i class="fa fa-pencil"></i> Editar </a>
                    </li>
                    @*<li>
                            <a class="ajax-modal" href="@Url.Action(MVC.Tarefas.Criar(quadro.Id))" alt="Adicionar membros ao quadro"><i class="fa fa-user-plus"></i> Adicionar membros</a>
                        </li>*@
                    <li>
                        <a href="@Url.Action(MVC.Quadros.Gerenciar())" alt="Gerenciar quadro"><i class="fa fa-gear"></i> Gerenciar quadros</a>
                    </li>
                    <li>
                        <a class="ajax-modal" href="@Url.Action(MVC.Quadros.LimparTudo(Model.Id))"><i class="fa fa-sort-amount-asc"></i> Limpar quadro</a>
                    </li>
                    <li>
                        <a class="ajax-partial-page" href="@Url.Action(MVC.Quadros.AlternarVisualizacao(Model.Id))"><i class="fa fa-eye"></i> Alternar visualização</a>
                    </li>
                    <li>
                        <a class="ajax-modal" href="@Url.Action(MVC.Quadros.Excluir(Model.Id))"><i class="fa fa-trash"></i> Excluir</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="ibox-content">
            <ul class="todo-list m-t small-list i-checks">
                @foreach (var assignment in Model.TAssignments)
                {
                    <li>
                        @(this.CheckBox("Completed").Class("icheckbox_square-green "))
                        <span class="m-l-xs @(assignment.Completed == true ? "todo-completed" : "")">@assignment.Name</span>

                    </li>
                }
            </ul>

        </div>
    </div>
</div>