﻿@using System.Linq
@inherits ModelWebViewPage<TBoard>
@{
    var returnUrl = ViewBag.ReturnUrl;
    ModelSelectList<TTag> etiquetas = null;
    if (ViewBag.Etiquetas != null)
    {
        etiquetas = (ModelSelectList<TTag>) ViewBag.Etiquetas;
    }

}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar quadro</h4>
            </div>
            @using (Html.BeginForm(MVC.Quadros.Criar(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("returnUrl").Value(returnUrl))
                <div class="modal-body">
                    <label class="control-label">Nome do quadro:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextBox(x => x.Name).Class("form-control required"))
                        </div>
                    </div>
                    <br/>
                    @if (ViewBag.Etiquetas != null)
                    {
                        <div class="row row-space-10 i-checks">
                            <div class="col-md-12 m-b-15">
                                <label class="control-label">Vincular a uma etiqueta?</label>
                                @(this.CheckBox("linkTag").Class("icheckbox_square-green"))
                            </div>
                        </div>
                        <br/>
                        <div class="removeHide hidden">
                            <label class="control-label">Selecione uma etiqueta:</label>
                            <div class="row row-space-10">
                                <div class="col-md-12 m-b-15">
                                    <div class="input-group">
                                        @(this.AutoSelect(x => x.Tag.Id).Options(etiquetas).Class("form-control chosen-select"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @(this.Hidden("linkTag").Value(false))
                    }
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(".i-checks").livequery(function () {
        $(this).iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green"

        });
    });

    $(".iCheck-helper").livequery(function () {
        $(this).click(function () {
            var remove = $(".icheckbox_square-green").is(':checked');
            if (remove == true) {
                $(".removeHide").removeClass("hidden");
            } else {
                $(".removeHide").addClass("hidden");
            }
        });
    });


    var config = {
        '.chosen-select': { width: "238px" },
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
