﻿@using System.Linq
@model TBoard
<div class="animated fadeInUp">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <a class="pull-right btn btn-white btn-xs ajax-modal" href="@Url.Action(MVC.Quadros.Editar(Model.Id))"><i class="fa fa-pencil"></i></a>
                        <a class="pull-right btn btn-white btn-xs ajax-modal" href="@Url.Action(MVC.Quadros.Excluir(Model.Id))"><i class="fa fa-trash"></i></a>
                        <h2>@Model.Name</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>Status:</dt>
                        <dd><span class="label label-primary">@(Model.Done == true ? "Concluído" : "Pendente")</span></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">

                        <dt>Criado por:</dt>
                        <dd>@Model.User.Name</dd>
                    </dl>
                </div>
                <div class="col-lg-7" id="cluster_info">
                    <dl class="dl-horizontal">
                        <dt>Última modificação em:</dt>
                        <dd>16.08.2014 12:15:57</dd>
                        <dt>Criado em:</dt>
                        <dd> @Model.CreationDate </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>Progresso:</dt>
                        <dd>
                            <div class="progress progress-striped active m-b-sm">
                                @{
                                    var tasksNotCompleted = Model.TAssignments.Count(x => x.Completed == false);
                                    var totalTasks = Model.TAssignments.Count();
                                    var percent = (tasksNotCompleted*100)/totalTasks;
                                    <div style="width: @(100 - percent)%;" class="progress-bar"></div>
                                }
                            </div>
                            @if (percent != 0)
                            {
                                <small>Faltam <strong>@(percent)%</strong> para concluir o quadro.</small>
                            }
                            else
                            {
                                <small>Parabéns, você concluiu todas as tarefas do seu quadro.</small>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
