﻿@using System.Linq
@model TBoard
@{
    var returnUrl = ViewBag.ReturnUrl;
    
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deseja excluir o quadro: "@Model.Name.LimitSize(30)" ?</h4>
            </div>
            @using (Html.BeginForm(MVC.Quadros.Excluir(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("returnUrl").Value(returnUrl))
                @(this.Hidden("idQuadro").Value(Model.Id))
                <div class="modal-body">
                    @if (Model.TAssignments.Any())
                    {
                        <p class="text-justify">Esse quadro possui tarefas vinculadas a ele. Ao excluir esse quadro, você também estará excluindo essas tarefas. Tem certeza que deseja excluir?</p>
                    }
                    else
                    {
                        <p class="text-justify">Tem certeza que deseja excluir esse quadro?</p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Excluir</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

