﻿@using System.Linq
@model System.Collections.Generic.List<TBoard>
@{
    //var isArchived = (bool)ViewBag.Arquivado;
    //var isFavorite = (bool)ViewBag.Favorito;
    //var isDone = (bool)ViewBag.Concluido;
    //var isImportant = (bool)ViewBag.Importante;
    //var isInbox = (bool)ViewBag.CaixaDeEntrada;
}
<div class="animated fadeInRight">
    @if (Model.Any())
    {
        @Html.Partial("_quadro", Model)
    }
    else
    {
        <div class="alert alert-info" role="alert">
            <p class="text-center">Nenhum quadro do tipo selecionado.</p>
        </div>
    }
</div>

@*<div class="row">
    @if (isArchived != null && isArchived)
    {

        if (Model.TotalItems > 1 && Model.TotalPages > 1)
        {
            <div class="col-lg-12 text-center">
                <div class="btn-group">
                    @if (Model.CurrentPage != 1)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, true, false, false, Model.CurrentPage - 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-left"></i></a>
                    }
                    @for (int i = 0; i < Model.TotalPages; i++)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, true, false, false, i + 1))" class="btn btn-white ajax-partial-page @(Model.CurrentPage == i + 1 ? "active" : "")">@(i + 1)</a>
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, true, false, false, Model.CurrentPage + 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-right"></i></a>
                    }
                </div>
            </div>
        }
    }
    else if (isFavorite != null && isFavorite)
    {
        
        if (Model.TotalItems > 1 && Model.TotalPages > 1)
        {
            <div class="col-lg-12 text-center">
                <div class="btn-group">
                    @if (Model.CurrentPage != 1)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, true, false, false, false, Model.CurrentPage - 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-left"></i></a>
                    }
                    @for (int i = 0; i < Model.TotalPages; i++)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, true, false, false, false, i + 1))" class="btn btn-white ajax-partial-page @(Model.CurrentPage == i + 1 ? "active" : "")">@(i + 1)</a>
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, true, false, false, false, Model.CurrentPage + 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-right"></i></a>
                    }
                </div>
            </div>
        }
    }
    else if (isDone != null && isDone)
    {
        
        if (Model.TotalItems > 1 && Model.TotalPages > 1)
        {
            <div class="col-lg-12 text-center">
                <div class="btn-group">
                    @if (Model.CurrentPage != 1)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(true, false, false, false, false, Model.CurrentPage - 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-left"></i></a>
                    }
                    @for (int i = 0; i < Model.TotalPages; i++)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(true, false, false, false, false, i + 1))" class="btn btn-white ajax-partial-page @(Model.CurrentPage == i + 1 ? "active" : "")">@(i + 1)</a>
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(true, false, false, false, false, Model.CurrentPage + 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-right"></i></a>
                    }
                </div>
            </div>
        }
    }
    else if (isImportant != null && isImportant)
    {
        
        if (Model.TotalItems > 1 && Model.TotalPages > 1)
        {
            <div class="col-lg-12 text-center">
                <div class="btn-group">
                    @if (Model.CurrentPage != 1)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, true, false, Model.CurrentPage - 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-left"></i></a>
                    }
                    @for (int i = 0; i < Model.TotalPages; i++)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, true, false, i + 1))" class="btn btn-white ajax-partial-page @(Model.CurrentPage == i + 1 ? "active" : "")">@(i + 1)</a>
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, true, false, Model.CurrentPage + 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-right"></i></a>
                    }
                </div>
            </div>
        }
    }
    else if (isInbox != null && isInbox)
    {
       
        if (Model.TotalItems > 1 && Model.TotalPages > 1)
        {
            <div class="col-lg-12 text-center">
                <div class="btn-group">
                    @if (Model.CurrentPage != 1)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, false, true, Model.CurrentPage - 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-left"></i></a>
                    }
                    @for (int i = 0; i < Model.TotalPages; i++)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, false, true, i + 1))" class="btn btn-white ajax-partial-page @(Model.CurrentPage == i + 1 ? "active" : "")">@(i + 1)</a>
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, false, true, Model.CurrentPage + 1))" class="btn btn-white ajax-partial-page"><i class="fa fa-chevron-right"></i></a>
                    }
                </div>
            </div>
        }
    }

    </div>*@
<script>
    $('.content-board').livequery(function () {
        $(this).slimScroll({
            position: 'left',
            color: '#fffff',
            size: '3px',
            railOpacity: 0.5,
            height: '400px',
            alwaysVisible: false
        });
    });
</script>