﻿@using System.Linq
@model TBoard
@{
    var returnUrl = ViewBag.ReturnUrl;
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Essa ação excluirá todas as tarefas do quadro: "@Model.Name.LimitSize(30)" ?</h4>
            </div>
            @using (Html.BeginForm(MVC.Quadros.LimparTudo(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("idQuadro").Value(Model.Id))
                @(this.Hidden("returnUrl").Value(returnUrl))
                <div class="modal-footer">
                    @if (Model.TAssignments.Any())
                    {
                        <p class="text-justify">Tem certeza que deseja excluir todas as tarefas deste quadro?</p>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Excluir</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

