﻿@using System
@using System.Linq
@model System.Collections.Generic.List<TBoard>
@{
    var usuarioAtual = SecurityContext.Do.User;
}
@foreach (var quadro in Model)
{
    var userBoardPermission = TUserBoardPermission.Find(x => x.UserBoard.User == usuarioAtual && x.UserBoard.Board.Id == quadro.Id);

    <div class="col-lg-4  mininum-height ">
        <div class="ibox" id="nextQuadro">
            <div class="ibox-title">
                <h5>@quadro.Name.LimitSize(17)</h5>
                <div class="ibox-tools">
                    @*<a href="@Url.Action(MVC.Quadros.OpcoesQuadro(quadro.Id, false,false,false,true))" data-url="@Url.Action(MVC.Quadros.OpcoesQuadroFalse(quadro.Id,false,false,false,true))" class="@(quadro.Favorite == true ? "ajax-request-unoptions" : "ajax-request-options") text-center" id="favorite-board" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="@(quadro.Favorite == true ? "Desmarcar como favorito" : "Marcar como favorito")"><i class="fa fa-star @(quadro.Favorite == true ? "text-warning" : "")"></i></a>*@
                    @*<a href="@Url.Action(MVC.Quadros.OpcoesQuadro(quadro.Id, false, false, false, true))" data-url="@Url.Action(MVC.Quadros.OpcoesQuadroFalse(quadro.Id, false, false, false, true))" class="ajax-request-options text-center" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="@(quadro.Favorite == true ? "Desmarcar como favorito" : "Marcar como favorito")"><i class="fa fa-star @(quadro.Favorite == true ? "text-warning" : "")"></i></a>*@
                    <a class="@(quadro.Favorite == true ? "check-link-notFavorite" : "check-link-favorite")" data-url-favorite="@Url.Action(MVC.Quadros.OpcoesQuadro(quadro.Id, false, false, false, true))" data-url-notfavorite="@Url.Action(MVC.Quadros.OpcoesQuadroFalse(quadro.Id, false, false, false, true))"><i class="@(quadro.Favorite == true ? "fa fa-star text-warning fa-2x" : "fa fa-star-o fa-2x")"></i> </a>
                    <a class="@(quadro.Important == true ? "check-link-notImportant" : "check-link-important")" data-url-important="@Url.Action(MVC.Quadros.OpcoesQuadro(quadro.Id,false, false, true, false))" data-url-notimportant="@Url.Action(MVC.Quadros.OpcoesQuadroFalse(quadro.Id, false, false, true, false))"><i class="@(quadro.Important == true ? "fa fa-bookmark text-danger fa-2x" : "fa fa-bookmark-o fa-2x")"></i> </a>
                    <a href="@Url.Action(MVC.Tarefas.Criar(quadro.Id))" class="ajax-modal text-center" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Adicionar tarefa ao quadro"><i class="fa fa-plus fa-2x"></i></a>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Opções do quadro">
                        <i class="fa fa-ellipsis-v fa-2x "></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        @if (quadro.CreatedBy.Id == usuarioAtual.Id || userBoardPermission.Permission.EnumPermission == Permission.BoardAdministrator)
                        {
                            <li>
                                <a class="ajax-modal" href="@Url.Action(MVC.Quadros.Editar(quadro.Id))"><i class="fa fa-pencil"></i> Editar </a>
                            </li>

                            <li>
                                <a class="ajax-modal" href="@Url.Action(MVC.Quadros.AdicionarMembros(quadro.Id))" alt="Adicionar membros ao quadro"><i class="fa fa-user-plus "></i> Adicionar membros</a>
                            </li>

                            <li>
                                <a class="ajax-modal" href="@Url.Action(MVC.Quadros.LimparTudo(quadro.Id))"><i class="fa fa-sort-amount-asc"></i> Limpar quadro</a>
                            </li>
                            if (quadro.IsArchived.HasValue && !quadro.IsArchived.Value)
                            {
                                <li>
                                    <a href="@Url.Action(MVC.Quadros.OpcoesQuadro(quadro.Id, false, true, false, false))">
                                        <i class="fa fa-file-text"></i> Arquivar
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action(MVC.Quadros.OpcoesQuadroFalse(quadro.Id, false, true, false, false))">
                                        <i class="fa fa-file-text"></i> Desarquivar
                                    </a>
                                </li>
                            }
                        }

                        <li>
                            <a href="@Url.Action(MVC.Quadros.Detalhes(quadro.Id))" alt="Gerenciar quadro"><i class="fa fa-gear"></i> Gerenciar quadro</a>
                        </li>


                        @if ((quadro.Done != true) || quadro.TAssignments.Any(x => x.Completed == false))
                        {
                            <li>
                                <a href="@Url.Action(MVC.Quadros.OpcoesQuadro(quadro.Id, true, false, false, false))">
                                    <i class="fa fa-check"></i> Concluir quadro
                                </a>
                            </li>
                        }@*<li>
                                <a class="ajax-partial-page" href="@Url.Action(MVC.Quadros.AlternarVisualizacao(quadro.Id))">
                                    <i class="fa fa-eye"></i> Alternar visualização
                                </a>
                            </li>*@
                        <li>
                            @if (quadro.CreatedBy.Id == usuarioAtual.Id)
                            {
                                <a class="ajax-modal" href="@Url.Action(MVC.Quadros.Excluir(quadro.Id))">
                                    <i class="fa fa-trash"></i> Excluir
                                </a>
                            }
                        </li>

                    </ul>
                    @*<a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>*@
                </div>
            </div>
            <div id="data-container">
                <div class="ibox-content content-board">
                    <div class="project-people">
                        @if (quadro.TUsersBoards.Any())
                        {
                            foreach (var userBoard in quadro.TUsersBoards)
                            {
                                <a href="#" data-hint="bottom-right" class="hint--bottom-right"><img src="@(userBoard.User.Image ?? "http://placehold.it/50x50")" class="img-circle " alt="@userBoard.User.Name"></a>
                            }
                        }
                    </div>
                    @*@if (quadro.TAssignments.Any())
                        {
                            <p class="small">
                                <i class="fa fa-hand-o-up"></i> Mova as tarefas entre os quadros
                            </p>
                        }*@
                    @*<div class="input-group">
                            <input type="text" placeholder="Ex: assistir filme " id="new-task" class="input input-sm form-control">
                            <span class="input-group-btn ajax-request-container" href="#">
                                <button type="button" class="btn btn-sm btn-white ajax-modal" href="@Url.Action(MVC.Tarefas.Criar(quadro.Id))">
                                    <i class="fa fa-plus"></i> Adicionar tarefa
                                </button>
                            </span>
                        </div>*@
                    <ul id="to-do" class="sortable-list connectList agile-list" data-idquadro="@quadro.Id">
                        @if (quadro.TAssignments.Any())
                        {
                            foreach (var tarefa in quadro.TAssignments.OrderByDescending(x => x.Completed == false || (x.EndDate < DateTime.Now && x.Completed != true)).ToList())
                            {
                                <li id="todo" class="@(tarefa.Completed == true ? "success-element" : "danger-element") show-manager ajax-modal" data-url="@Url.Action(MVC.Tarefas.TrocarQuadro())" data-idtarefa="@tarefa.Id">
                                    <p>@tarefa.Name</p>
                                    <div class="agile-detail i-checks">
                                        <div class="pull-right remove-hidden hidden">
                                            <a href="@Url.Action(MVC.Tarefas.Detalhes(tarefa.Id))" class="pull-right btn btn-white btn-xs ajax-modal" data-toggle="tooltip" data-placement="left" title="Detalhes quadro"><i class="fa fa-external-link "></i></a>
                                            @if (quadro.CreatedBy.Id == usuarioAtual.Id || userBoardPermission.Permission.EnumPermission == Permission.BoardAdministrator)
                                            {
                                                <a href="@Url.Action(MVC.Tarefas.Remover(tarefa.Id))" class="pull-right btn btn-white btn-xs ajax-modal" data-toggle="tooltip" data-placement="left" title="Excluir tarefa"><i class="fa fa-trash"></i></a>
                                                <a href="@Url.Action(MVC.Tarefas.Editar(tarefa.Id))" class="pull-right btn btn-white btn-xs ajax-modal" data-toggle="tooltip" data-placement="left" title="Editar tarefa"><i class="fa fa-pencil"></i></a>
                                            }
                                        </div>

                                        @if (tarefa.EndDate < DateTime.Now && tarefa.Completed != true)
                                        {
                                            <span class="label label-danger pull-left margin-tag">Atrasada</span>
                                        }
                                        else if (tarefa.Completed == true)
                                        {
                                            <span class="label label-primary pull-left margin-tag">Concluída</span>
                                        }
                                        @if (tarefa.EndDate != null)
                                        {

                                            <i class="fa fa-clock-o"></i>
                                            @tarefa.EndDate.Value.ToShortDateString()

                                        }

                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
