﻿@using System.Collections.Generic
@using System.Linq
@model System.Collections.Generic.List<TBoard>
@{
    var tarefas = new List<TAssignment>();
    foreach (var quadro in Model)
    {
        tarefas.AddRange(quadro.TAssignments.OrderBy(x => x.EndDate).Where(x => x.Completed != true));
    }

}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Caixa de Entrada </h5>
        <div class="ibox-tools">
            <a href="@Url.Action(MVC.Tarefas.TarefaRapida())" class="ajax-modal text-center" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Tarefa rápida"><i class="fa fa-plus"></i></a>
            <a href="@Url.Action(MVC.Quadros.MeusQuadros())" class="text-center" aria-expanded="false" data-toggle="tooltip" data-placement="left" title="Visualizar todos os quadros"><i class="fa fa-eye"></i></a>
        </div>
    </div>
    <div class="ibox-content">
        <ul class="todo-list m-t small-list">
            @if (tarefas.Any())
            {
                foreach (var tarefa in tarefas)
                {
                    <li>
                        <a href="#" class="check-link" data-done-url="@Url.Action(MVC.Tarefas.ConcluirTarefa(tarefa.Id, true))" data-notdone-url="@Url.Action(MVC.Tarefas.ConcluirTarefa(tarefa.Id, false))"><i class="fa fa-square-o"></i> </a>
                        <span class="m-l-xs">
                            @tarefa.Name –<small class="text-navy"> @tarefa.Board.Name</small>
                            <small class="pull-right text-primary">
                                <span class="dropdown profile-element">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="clear">
                                            <span class="text-muted text-xs block"> <b class="caret"></b></span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                        <li><a class="ajax-modal" href="@Url.Action(MVC.Tarefas.Detalhes(tarefa.Id))"><i class="fa fa-external-link"></i> Detalhes tarefa</a> </li>
                                        <li><a class="ajax-modal" href="@Url.Action(MVC.Tarefas.Editar(tarefa.Id))"><i class="fa fa-pencil"></i> Editar tarefa</a></li>
                                        <li><a class="ajax-modal" href="@Url.Action(MVC.Tarefas.Remover(tarefa.Id))"><i class="fa fa-trash"></i> Excluir tarefa</a></li>
                                    </ul>
                                </span>
                            </small>
                        </span>
                    </li>

                }
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    <p class="text-center">Não há tarefas não concluídas de seus quadros em sua caixa de entrada.</p>
                </div>
            }
            </ul>
    </div>
</div>
@*<div class="col-lg-6">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Small todo list</h5>
            <div ibox-tools="" class="ng-scope">
                <div dropdown="" class="ibox-tools dropdown">
                    <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                    <a dropdown-toggle="" href="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="">Config option 1</a>
                        </li>
                        <li>
                            <a href="">Config option 2</a>
                        </li>
                    </ul>
                    <a ng-click="closebox()"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <ul class="todo-list m-t small-list">
                <li>
                    <button ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}" class="btn btn-white ng-isolate-scope btn-xs ng-valid" ng-style="stylebtn" type="button" ng-model="main.checkOne"><span ng-class="{'fa fa-check': checked===true}" class="glyphicon fa fa-check" ng-style="styleicon" style="width: 10px; left: -1px;"></span></button>
                    <span class="m-l-xs todo-completed">Buy a milk</span>
                </li>
                <li>
                    <button ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}" class="btn btn-white ng-isolate-scope btn-xs ng-valid ng-dirty ng-valid-parse" ng-style="stylebtn" type="button" ng-model="check1"><span ng-class="{'fa fa-check': checked===true}" class="glyphicon" ng-style="styleicon" style="width: 10px; left: -1px;"></span></button>
                    <span class="m-l-xs">Go to shop and find some products.</span>

                </li>
                <li>
                    <button ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}" class="btn btn-white ng-isolate-scope btn-xs ng-valid ng-dirty ng-valid-parse" ng-style="stylebtn" type="button" ng-model="check2"><span ng-class="{'fa fa-check': checked===true}" class="glyphicon" ng-style="styleicon" style="width: 10px; left: -1px;"></span></button>
                    <span class="m-l-xs">Send documents to Mike</span>
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
                </li>
                <li>
                    <button ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}" class="btn btn-white ng-isolate-scope btn-xs ng-valid" ng-style="stylebtn" type="button" ng-model="main.checkTwo"><span ng-class="{'fa fa-check': checked===true}" class="glyphicon fa fa-check" ng-style="styleicon" style="width: 10px; left: -1px;"></span></button>
                    <span class="m-l-xs todo-completed">Go to the doctor dr Smith</span>
                </li>
                <li>
                    <button ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}" class="btn btn-white ng-isolate-scope btn-xs ng-valid ng-dirty ng-valid-parse" ng-style="stylebtn" type="button" ng-model="check4"><span ng-class="{'fa fa-check': checked===true}" class="glyphicon" ng-style="styleicon" style="width: 10px; left: -1px;"></span></button>
                    <span class="m-l-xs">Plan vacation</span>
                </li>
                <li>
                    <button ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}" class="btn btn-white ng-isolate-scope btn-xs ng-valid ng-dirty ng-valid-parse" ng-style="stylebtn" type="button" ng-model="check5"><span ng-class="{'fa fa-check': checked===true}" class="glyphicon" ng-style="styleicon" style="width: 10px; left: -1px;"></span></button>
                    <span class="m-l-xs">Create new stuff</span>
                </li>
                <li>
                    <button ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}" class="btn btn-white ng-isolate-scope btn-xs ng-valid ng-dirty ng-valid-parse" ng-style="stylebtn" type="button" ng-model="check6"><span ng-class="{'fa fa-check': checked===true}" class="glyphicon" ng-style="styleicon" style="width: 10px; left: -1px;"></span></button>
                    <span class="m-l-xs">Call to Anna for dinner</span>
                </li>
            </ul>
        </div>
    </div>
</div>*@