﻿@using System.Linq
@using NHibernate.Linq
@model TBoard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Detalhes quadro";
    var percent = 0;
    var usuarioAtual = SecurityContext.Do.User;
    var userBoardPermission = TUserBoardPermission.Find(x => x.UserBoard.User == usuarioAtual && x.UserBoard.Board.Id == Model.Id);
    var colaboratorExceptAdministrators = TUserBoardPermission.List(x => x.Permission.EnumPermission != Permission.BoardAdministrator && x.UserBoard.Board.Id == Model.Id);
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Detalhes do quadro: <small class="text-navy">@Model.Name.LimitSize(70)</small> </h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action(MVC.Quadros.Index())">Página inicial</a>
            </li>
            <li>
                <a href="@Url.Action(MVC.Quadros.Gerenciar())">Gerenciar quadros</a>
            </li>
            <li class="active">
                <strong>Detalhes do quadro</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row ng-scope">
    <div class="col-lg-8">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a class="btn btn-white btn-xs pull-right ajax-modal" href="@Url.Action(MVC.Quadros.Editar(Model.Id))">Editar quadro</a>
                                <h2>@Model.Name</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dt>Criador do quadro:</dt>
                            <dd>@Model.CreatedBy.Name</dd>
                            <br />
                            @if (Model.IsShared)
                            {
                                <dt>Colaboradores</dt>
                                <br />
                                <dd class="project-people">
                                    @foreach (var colaborador in Model.TUsersBoards)
                                    {
                                        <a href=""><img src="@(colaborador.User.Image ?? "http://placehold.it/50x50")" class="img-circle" title="@colaborador.User.Name" alt="@colaborador.User.Name"></a>
                                    }
                                </dd>
                                <br />
                            }
                        </div>
                        <div id="cluster_info" class="col-lg-7">
                            <dl class="dl-horizontal">

                                @if (Model.EditDate != null)
                                {
                                    <dt>Última alteração:</dt>
                                    <dd>@Model.EditDate.Value.ToShortDateString()</dd>
                                }
                                <dt>Criado em:</dt>
                                <dd>@Model.CreationDate.ToShortDateString()</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <dl>
                                    <dt>Progresso:</dt>
                                    <br />
                                    <dd>
                                        <div class="progress progress-striped active">
                                            @if (Model.TAssignments.Any())
                                            {
                                                var tasksNotCompleted = Model.TAssignments.Count(x => x.Completed == false);
                                                var totalTasks = Model.TAssignments.Count();
                                                if (totalTasks != 0)
                                                {
                                                    percent = (tasksNotCompleted * 100) / totalTasks;
                                                }
                                                <div style="width: @(100 - percent)%;" class="progress-bar"></div>
                                            }
                                        </div>
                                        @if (percent != 0)
                                        {
                                            <small>Falta <strong>@(percent)%</strong> para concluir o quadro.</small>
                                        }
                                        else
                                        {
                                            <small>Parabéns, você não possui tarefas para concluir em seu quadro.</small>
                                        }
                                    </dd>
                                </dl>

                            </div>

                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-3x"></i> Tarefas
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h2 class="font-bold">@Model.TAssignments.Count</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-3x"></i> Comentários
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h2 class="font-bold">@Model.TAssignments.Sum(x => x.TComents.Count)</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="widget red-bg style1">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-3x"></i> Atrasadas
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h2 class="font-bold">@Model.TAssignments.Count(x => x.Completed != true)</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.IsShared && Model.TUsersBoards.Any())
            {
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Gerenciamento de colaboradores do quadro</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-plus"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a class="ajax-modal" href="@Url.Action(MVC.Quadros.AdicionarMembros(Model.Id))"><i class="fa fa-user-plus"></i> Adicionar colaboradores</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Permissão</th>
                                        @if (userBoardPermission.Permission.EnumPermission == Permission.BoardAdministrator)
                                        {
                                            <th>Ações</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var colaborador in colaboratorExceptAdministrators)
                                    {

                                        <tr class="gradeX">
                                            <td>@colaborador.UserBoard.User.Name</td>
                                            <td>
                                                @colaborador.UserBoard.User.Email
                                            </td>
                                            <td>@colaborador.Permission.Name</td>
                                            @if (userBoardPermission.Permission.EnumPermission == Permission.BoardAdministrator)
                                            {
                                                <td class="center">
                                                    <a href="@Url.Action(MVC.Quadros.RemoverColaborador(colaborador.UserBoard.Id))" class="ajax-modal"><span><i class="fa fa-trash-o"></i> Remover colaborador</span></a>
                                                </td>
                                            }

                                        </tr>
                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Permissão</th>
                                        @if (userBoardPermission.Permission.EnumPermission == Permission.BoardAdministrator)
                                        {
                                            <th>Ações</th>
                                        }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>

            }


            @if (Model.TAssignments.Sum(x => x.TComents.Count) > 0)
            {
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Gerenciamento de comentários do quadro</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Comentário</th>
                                        <th>Tarefa</th>
                                        <th>Usuário</th>
                                        <th>Ações</th>

                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var coment in Model.TAssignments.SelectMany(task => task.TComents))
                                {
                                    <tr class="gradeX">
                                        <td>@coment.Content.LimitSize(35)</td>
                                        <td>
                                            @coment.Assignment.Name.LimitSize(25)
                                        </td>
                                        <td>
                                            @coment.CreatedBy.Name
                                        </td>
                                        @if (userBoardPermission.Permission.EnumPermission == Permission.BoardAdministrator || coment.CreatedBy == usuarioAtual)
                                        {
                                            <td class="center">
                                                <a href="@Url.Action(MVC.Comentarios.Editar(coment.Id))" class="ajax-modal"><span><i class="fa fa-pencil"></i> Editar </span></a>
                                                <a href="@Url.Action(MVC.Comentarios.Excluir(coment.Id))" class="ajax-modal"><span><i class="fa fa-trash-o"></i> Excluir </span></a>
                                            </td>
                                        }

                                    </tr>
                                }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Comentário</th>
                                        <th>Tarefa</th>
                                        <th>Usuário</th>
                                        <th>Ações</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>

            }
        </div>
    </div>





@if (Model.Done.Value && Model.FinishedIn != null)
{
    <div class="col-lg-4">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>
                                    Métricas <small class="text-navy"> de @Model.Name.LimitSize(30) :</small>
                                </h2>
                            </div>
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <h5>@Model.Name.LimitSize(30)</h5>
                                        @{
    var totalDays = (Model.FinishedIn.Value - Model.CreationDate).TotalDays;
                                        }
                                        <h1 class="no-margins">
                                            @string.Format("{0:0.##}", totalDays) <small>dias gastos</small>
                                        </h1>

                                    </div>
                                </div>
                            </div>
                            @if (Model.TAssignments.Any())
                            {
                                <h2>
                                    Tarefas <small class="text-navy"> de @Model.Name.LimitSize(30):</small>
                                </h2>
                                <div class="col-lg-12">

                                    @foreach (var tarefa in Model.TAssignments)
                                    {
                                        <div class="ibox">
                                            <div class="ibox-content">
                                                <h5>@tarefa.Name.LimitSize(40)</h5>
                                                @{
                                        var totalDaysTasks = (tarefa.FinishedIn.Value - tarefa.CreationDate).Value.TotalDays;
                                        var totalHoursTasks = (tarefa.FinishedIn.Value - tarefa.CreationDate).Value.TotalHours;
                                        var totalProvidedHours = (tarefa.EndDate.Value - tarefa.CreationDate).Value.TotalHours;
                                                }
                                                <h1 class="no-margins">
                                                    @string.Format("{0:0.##}", totalDaysTasks) <small>dias gastos</small>
                                                </h1>
                                                <br /> <small class="font-bold">Horas previstas:</small>
                                                <div class="stat-percent font-bold text-success">
                                                    @string.Format("{0:0.##}", totalProvidedHours) horas
                                                </div>
                                                <br />
                                                <small class="font-bold">Horas concluídas:</small>
                                                <div class="stat-percent font-bold @((totalHoursTasks <= totalProvidedHours) ? "text-navy" : "text-danger")">
                                                    @string.Format("{0:0.##}", totalHoursTasks) horas <i class="fa  @((totalHoursTasks <= totalProvidedHours) ? "fa-level-up" : "fa-level-down")"></i>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                @if (tarefa.EndDate != null)
                                                {
                                                    <small class="font-bold"><strong>Data prevista:</strong>@tarefa.EndDate.Value.ToShortDateString()</small>
                                                    <br />
                                                    <small class="font-bold"><strong>Concluída em:</strong>@tarefa.FinishedIn.Value.ToShortDateString()</small>
                                                }
                                            </div>


                                        </div>
                                    }
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-lg-4">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="alert alert-info ajax-modal" role="alert">
                <p class="text-muted">Métricas indisponíveis no momento. Para visualizá-las, conclua todas as tarefas do seu quadro.</p>
            </div>
        </div>
    </div>
}
</div>
