﻿@using System.Linq
@model System.Collections.Generic.List<TBoard>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Gerenciar quadros";
}

@*<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <a class="btn btn-outline btn-primary btn-block ajax-modal" href="@Url.Action(MVC.Quadros.Criar())">Adicionar quadro</a>
                        <div class="space-25"></div>
                        <h5>Quadros</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            @foreach (var quadro in Model)
                            {
                                var totalBoardElements = quadro.TAssignments.Count(x => x.Completed == false);
                                <li><a href="@Url.Action(MVC.Quadros.Detalhes(quadro.Id))" class="ajax-partial-page"> <i class="fa fa-edit "></i> @quadro.Name.LimitSize(25) @if(totalBoardElements != 0)
                                {
                                    <span class="label label-warning pull-right">@totalBoardElements</span>
                                }  </a></li>
                            }
                            <li><a href="mailbox.html"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">16</span> </a></li>
                                <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                                <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Important</a></li>
                                <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li>
                                <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight" id="data-container">

        </div>
    </div>
</div>*@
<div class="gray-bg app.teams_board">
    <div class="ng-scope">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                @foreach (var quadro in Model)
                {
                    <div class="col-lg-4">
                        <div class="ibox">
                            <div class="ibox-title">
                                @if (quadro.IsShared)
                                {
                                    <span class="label label-navy pull-right">Compartilhado</span>
                                }
                                <h5>@quadro.Name.LimitSize(25)</h5>
                            </div>
                            <div class="ibox-content">
                                @if (quadro.TUsersBoards.Any())
                                {
                                    <div class="team-members">
                                        @foreach (var userBoard in quadro.TUsersBoards)
                                        {
                                            <a href="#"><img src="@(userBoard.User.Image ?? "http://placehold.it/50x50")" class="img-circle" title="@userBoard.User.Name" alt="@userBoard.User.Name"></a>
                                        }
                                    </div>
                                }
                                <div>
                                    <dl>
                                        <dt>Progresso:</dt>
                                        <dd>
                                            <div class="progress progress-striped active">
                                                @{
                                                    var tasksNotCompleted = quadro.TAssignments.Count(x => x.Completed == false);
                                                    var totalTasks = quadro.TAssignments.Count();
                                                    var percent = 0;
                                                    if (totalTasks != 0)
                                                    {
                                                        percent = (tasksNotCompleted*100)/totalTasks;
                                                    }
                                                    <div style="width: @(100 - percent)%;" class="progress-bar"></div>
                                                }
                                            </div>
                                            @if (percent != 0)
                                            {
                                                <small>Falta <strong>@(percent)%</strong> para concluir o quadro.</small>
                                            }
                                            else
                                            {
                                                <small>Parabéns, você não possui tarefas para concluir em seu quadro.</small>
                                            }
                                        </dd>
                                    </dl>
                                    <a href="@Url.Action(MVC.Quadros.Detalhes(quadro.Id))" class="badge badge-info"><i class="fa fa-share" aria-hidden="true"></i></a>
                                </div>
                                <div class="row  m-t-sm">
                                    <div class="col-sm-6">
                                        <div class="font-bold">Integrante(s):</div>
                                        @quadro.TUsersBoards.Count()
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="font-bold">Status:</div>
                                        @(100 - percent) <i class="fa fa-level-up text-navy"></i>
                                    </div>
                                    <br/>
                                    <div class="col-sm-6">
                                        <div class="font-bold">Criado por:</div>
                                        @quadro.CreatedBy.Name
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="font-bold">Modificado em:</div>
                                        <dd>16.08.2014 12:15:57</dd>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Footer{
    @Html.Partial("_ScriptsQuadros")
}