﻿@using System
@using System.Collections.Generic
@using System.Linq
@model List<TBoard>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Caixa de entrada";
    var board = new TBoard();
    var userId = SecurityContext.Do.User.Id;
    var etiquetas = TTag.ListAlltags();
    var importantElements = board.importantElements(userId);
    var favoriteElements = board.favoriteElements(userId);
    var notCompletedTaskBoardElements = board.notCompletedTaskBoardElements(userId);
    var doneBoardOrDoneAlltasksBoard = board.doneBoardOrDoneAlltasksBoard(userId);
    var archivedBoardElements = board.archivedBoardElements(userId);
}

<div class="wrapper wrapper-content ng-scope">
<div class="row">
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                        @*<a class="btn btn-outline btn-primary btn-block ajax-modal" href="@Url.Action(MVC.Quadros.Criar())"><i class="fa fa-plus "></i> Adicionar</a>*@
                        <div class="dropdown">
                            <button class="btn btn-outline btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Adicionar
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="@Url.Action(MVC.Quadros.Criar())" class="ajax-modal">
                                        <div>
                                            <i class="fa fa-plus text-navy"></i> Novo quadro
                                        </div>
                                    </a>
                                </li>
                                @if (Model.Any())
                                {
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action(MVC.Tarefas.TarefaRapida())" class="ajax-modal">
                                            <div>
                                                <i class="fa fa-magic text-navy"></i> Tarefa rápida
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                <div class="space-25"></div>
                <h5>Pastas</h5>
                <ul style="padding: 0" class="folder-list m-b-md">
                    <li>
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, false, true))" class="ajax-partial-page">
                            <i class="fa fa-inbox "></i>
                            Caixa de entrada @if (notCompletedTaskBoardElements != 0)
                            {
                                <span class='label label-warning pull-right'>@notCompletedTaskBoardElements</span>}
                        </a>

                    </li>

                    <li>
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, true, false, false, false))" class="ajax-partial-page">
                            <i class="fa fa-star"></i>
                            Favoritos @if (favoriteElements != 0)
                            {
                                <span class='label label-warning pull-right'>@favoriteElements</span>}
                        </a>
                    </li>


                    <li>
                        <a href="@Url.Action(MVC.Quadros.Informacoes(true, false, false, false, false))" class="ajax-partial-page">
                            <i class="fa fa-check"></i>
                            Concluídos @if (doneBoardOrDoneAlltasksBoard != 0)
                            {
                                <span class='label label-warning pull-right'>@doneBoardOrDoneAlltasksBoard</span>}
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, false, true, false))" class="ajax-partial-page">
                            <i class="fa fa-bookmark"></i>
                            Importantes @if (importantElements != 0)
                            {
                                <span class='label label-warning pull-right'>@importantElements</span>}
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action(MVC.Quadros.Informacoes(false, false, true, false, false))" class="ajax-partial-page">
                            <i class="fa fa-file-text"></i>
                            Arquivadas @if (archivedBoardElements != 0)
                            {
                                <span class='label label-warning pull-right'>@archivedBoardElements</span>}
                        </a>
                    </li>

                </ul>

                        <h5>Etiquetas</h5>

                        <ul class="col-lg-12 category-list" style="padding: 0">
                            @for (int i = 0; i < etiquetas.Count; i++)
                            {
                                string[] randomColor = new string[] { "text-navy", "text-danger", "text-primary", "text-info", "text-warning" };

                                <li class="show-manager-tag-@i">
                                    <a class="col-lg-9" href="#"> <i class="fa fa-circle @randomColor[new Random().Next(0, randomColor.Length)]"></i> @etiquetas[i].Name</a>
                                    <div class='col-lg-3'>
                                        @if (!etiquetas[i].FromSystem)
                                        {
                                                
                                            <div class="dropdown profile-element">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="clear">
                                                        <span class="text-muted text-xs block"> <b class="caret"></b></span>
                                                    </span>
                                                </a>
                                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                                    <li>
                                                        <a class="ajax-modal text-center" href="@Url.Action(MVC.Etiquetas.Editar(etiquetas[i].Id))"><i class="fa fa-plus"></i> Vincular quadro </a>
                                                    </li>
                                                    <li>
                                                        <a class="ajax-modal text-center" href="@Url.Action(MVC.Etiquetas.Editar(etiquetas[i].Id))"><i class="fa fa-pencil"></i> Editar </a>
                                                    </li>
                                                    <li>
                                                        <a class="ajax-modal text-center" href="@Url.Action(MVC.Etiquetas.Excluir(etiquetas[i].Id))"> <i class="fa fa-trash"></i> Excluir </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </li>
                            }
                            <li class="divider"></li>
                            <li>
                                <a class="col-lg-10 ajax-modal" href="@Url.Action(MVC.Etiquetas.Criar())"> <i class="fa fa-plus text-danger"></i> Adicionar etiqueta</a>
                            </li>
                        </ul>

                        @*<h5 class="tag-title">TAGS</h5>
                            <ul class="tag-list" style="padding: 0">
                                <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                            </ul>*@
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 animated fadeInRight" id="data-container">
            @if (Model.Any())
            {
                @Html.Partial("_tarefas", Model)
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    <p class="text-center">Não há tarefas não concluídas de seus quadros em sua caixa de entrada.</p>
                </div>
            }

        </div>
    </div>

    @*paginação da index caixa de entrada
            <div class="row">
            @if (Model.TotalItems > 1 && Model.TotalPages > 1)
            {
                <div class="col-lg-12 text-center">
                    <div class="btn-group">
                        @if (Model.CurrentPage != 1)
                        {
                            <a href="@Url.Action(MVC.Quadros.Index(Model.CurrentPage - 1))" class="btn btn-white"><i class="fa fa-chevron-left"></i></a>
                        }
                        @for (int i = 0; i < Model.TotalPages; i++)
                        {
                            <a href="@Url.Action(MVC.Quadros.Index(i + 1))" class="btn btn-white @(Model.CurrentPage == i + 1 ? "active" : "")">@(i + 1)</a>
                        }
                        @if (Model.CurrentPage != Model.TotalPages)
                        {
                            <a href="@Url.Action(MVC.Quadros.Index(Model.CurrentPage + 1))" class="btn btn-white ajax-modal"><i class="fa fa-chevron-right"></i></a>
                        }
                    </div>
                </div>
            }
        </div>*@
</div>
@section Footer{
    @Html.Partial("_ScriptsQuadros")
}