﻿@using System.Linq
@using FluentNHibernate.Conventions
@model BoardPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Meus quadros";
}
<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            @if (Model.TotalItems >= 1)
            {
                @Html.Partial("_quadro", Model.Boards)
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    <p class="text-center">Você ainda não possui nenhum quadro.</p>
                </div>
            }

        </div>
        <div class="row">

            @if (Model.TotalItems > 1 && Model.TotalPages > 1)
            {
                <div class="hr-line-dashed"></div>
                <div class="text-center">
                    <div class="btn-group">
                        @if (Model.CurrentPage != 1)
                        {
                            <a href="@Url.Action(MVC.Quadros.MeusQuadros(Model.CurrentPage - 1))" class="btn btn-white"><i class="fa fa-chevron-left"></i></a>
                        }
                        @for (int i = 0; i < Model.TotalPages; i++)
                        {
                            <a href="@Url.Action(MVC.Quadros.MeusQuadros(i + 1))" class="btn btn-white @(Model.CurrentPage == i + 1 ? "active" : "")">@(i + 1)</a>
                        }
                        @if (Model.CurrentPage != Model.TotalPages)
                        {
                            <a href="@Url.Action(MVC.Quadros.MeusQuadros(Model.CurrentPage + 1))" class="btn btn-white"><i class="fa fa-chevron-right"></i></a>
                        }
                    </div>
                </div>

            }
        </div>
    </div>

</div>
@section Footer{
    @Html.Partial("_ScriptsQuadros")
}