﻿@using System.Linq
@model System.Collections.Generic.List<TBoard>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Etiqueta - Ver quadros";
}
@if (Model != null && Model.Any())
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>
                @(Model.Select(x => x.Tag.Name).First())

            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action(MVC.PaginaInicial.Index())">Página Inicial</a>
                </li>
                <li class="active">
                    <strong>@(Model.Select(x => x.Tag.Name).First())</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
}
<div class="wrapper wrapper-content animated fadeInRight">
    @if (Model != null && Model.Any())
    {
        @Html.Partial("_quadro", Model)
    }
    else
    {
        <div class="alert alert-info" role="alert">
            <p class="text-center">Você ainda não possui nenhum quadro vinculado a essa etiqueta.</p>
        </div>
    }
</div>