﻿@using System.Linq
@using System.Security.Cryptography.X509Certificates
@model System.Collections.Generic.List<TBoard>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalElements = Model.Sum(quadro => quadro.TAssignments.Count(x => x.Completed == true));
    var favoriteElements = Model.Count(x => x.Favorite == true);
    var importantElements = Model.Count(x => x.Important == true);
    var notesElements = ViewBag.NotesElements;
    var totalBoardElements = Model.Sum(quadro => quadro.TAssignments.Count(x => x.Completed == false));
    var usuarioAtivo = SecurityContext.Do.User.ActivateAccount;
}

<div class="wrapper wrapper-content animated fadeInRight">
    @if (usuarioAtivo == false)
    {
        <div class="alert alert-error" role="alert">
            <p>
                <strong>Sua conta não está ativa!</strong> Acesse o seu e-mail para ativar sua conta.
            </p>
        </div>
    }


    <div class="row">
        <div class="col-lg-4">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Tarefas concluídas</span>
                        <h2 class="font-bold">@totalElements</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-exclamation-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Importantes </span>
                        <h2 class="font-bold">@importantElements</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-heart fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Favoritos </span>
                        <h2 class="font-bold">@favoriteElements</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-bell fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Notificações</span>
                        <h2 class="font-bold">@totalBoardElements</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Perfil: @SecurityContext.Do.User.Profile.Name </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-sticky-note  fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Notas </span>
                        <h2 class="font-bold">@notesElements.Count</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>