﻿@model System.Collections.Generic.List<TNote>

@*<div class="fh-breadcrumb">
        <div class="fh-column">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
                    <ul class="list-group elements-list">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <li class="list-group-item @(i == 0 ? "active" : "")">
                                <a href="#tab-@(i+1)" data-toggle="tab" aria-expanded="true">
                                    <small class="pull-right text-muted">@Model[i].CreationDate.ToShortDateString()</small>
                                    <strong>@Model[i].Name</strong>
                                    <div class="small m-t-xs">
                                        <p>
                                            @Model[i].Content.LimitSize(50)
                                        </p>
                                        <p class="m-b-none">
                                            <i class="fa fa-pencil"></i> @Model[i].User.Name
                                        </p>
                                    </div>
                                </a>
                            </li>
                        }


                    </ul>

                </div><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 54.5329px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </div>

        <div class="full-height">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <div class="full-height-scroll white-bg border-left" style="overflow: hidden; width: auto; height: 100%;">

                    <div class="element-detail-box">

                        <div class="tab-content">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div class="tab-pane @(i == 0 ? "active" : "")" id="tab-@(i+1)">

                                    <div class="pull-right">
                                        <div class="tooltip-demo">
                                            <button data-original-title="Editar nota" title="" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> </button>
                                            <button href="@Url.Action(MVC.Notas.Excluir(Model[i].Id))" data-original-title="Excluir nota" title="" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-xs ajax-modal"><i class="fa fa-trash-o"></i> </button>

                                        </div>
                                    </div>
                                    <div class="small text-muted">
                                        <i class="fa fa-clock-o"></i> @Model[i].CreationDate.DayOfWeek, @Model[i].CreationDate.Date.ToShortDateString(), @Model[i].CreationDate.Hour
                                    </div>

                                    <h1>
                                        @Model[i].Name
                                    </h1>

                                    <p>@Model[i].Content</p>
                                </div>

                            }
                        </div>

                    </div>

                </div><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 18px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 53.663px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </div>*@


        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a class="ajax-modal" href="@Url.Action(MVC.Gerenciamento.CadastrarUsuario())">Cadastrar novo usuário</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Título da nota</th>
                                    <th>Conteúdo</th>
                                    <th>Data de criação</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var nota in Model)
                                {
                                    <tr class="gradeX">
                                        <td>@nota.Name</td>
                                        <td>
                                            @nota.Content
                                        </td>
                                        <td>@nota.CreationDate.ToShortDateString()</td>
                                        <td class="center">
                                            <a href="@Url.Action(MVC.Usuarios.Excluir(nota.Id))" class="ajax-modal"><span><i class="fa fa-times"></i> Excluir</span></a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Título da nota</th>
                                    <th>Conteúdo</th>
                                    <th>Data de criação</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>