﻿@using System.Web.Mvc
@model TNote
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deseja excluir a nota: "@Model.Name.LimitSize(30)" ?</h4>
            </div>
            @using (Html.BeginForm(MVC.Notas.Excluir(), FormMethod.Post, new { @class = "form-validate" }))
            {
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir essa nota?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Excluir</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

