﻿@model System.Collections.Generic.List<TNote>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Gerenciar notas";
}
<div class="col-lg-12">
        <div class="ibox float-e-margins">

            <div class="ibox-title">
                <h5>Gerenciar notas</h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-plus"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a class="ajax-modal" href="@Url.Action(MVC.Notas.Criar())">Adicionar nota</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Título da nota</th>
                                <th>Conteúdo</th>
                                <th>Data de criação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var nota in Model)
                            {
                                <tr class="gradeX">
                                    <td>@nota.Name.LimitSize(30)</td>
                                    <td>
                                        @nota.Content.LimitSize(50)
                                    </td>
                                    <td>@nota.CreationDate.ToShortDateString()</td>
                                    <td class="center">
                                        <a href="@Url.Action(MVC.Notas.Excluir(nota.Id))" class="ajax-modal"><span><i class="fa fa-times"></i> Excluir</span></a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Título da nota</th>
                                <th>Conteúdo</th>
                                <th>Data de criação</th>
                                <th>Ações</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
