﻿@using System.Linq
@model System.Collections.Generic.List<TNote>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Painel de notas";
}


<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Painel de notas</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12" id="data-container">
                <div class="wrapper wrapper-content animated fadeInUp">
                    @if (Model.Any())
                    {
                        <ul class="notes">
                            @foreach (var note in Model)
                            {
                                <li class="ajax-modal">
                                    <div class="ajax-modal" href="@Url.Action(MVC.Notas.Editar(note.Id))">
                                        <small>@note.CreationDate</small>
                                        <h4>@note.Name.LimitSize(35)</h4>
                                        <p>@note.Content.LimitSize(190)</p>

                                    </div>
                                </li>
                            }

                            @*<li>
                                    <div>
                                        <small>11:08:33 16-04-2014</small>
                                        <h4>Latin professor at Hampden-Sydney </h4>
                                        <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                        <a href="#"><i class="fa fa-trash-o "></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <small>9:12:28 10-04-2014</small>
                                        <h4>The standard chunk of Lorem</h4>
                                        <p>Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        <a href="#"><i class="fa fa-trash-o "></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <small>3:33:12 6-03-2014</small>
                                        <h4>The generated Lorem Ipsum </h4>
                                        <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                        <a href="#"><i class="fa fa-trash-o "></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <small>5:20:11 4-04-2014</small>
                                        <h4>Contrary to popular belief</h4>
                                        <p>Hampden-Sydney College in Virginia, looked up one.</p>
                                        <a href="#"><i class="fa fa-trash-o "></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <small>2:10:12 4-05-2014</small>
                                        <h4>There are many variations</h4>
                                        <p>All the Lorem Ipsum generators on the Internet .</p>
                                        <a href="#"><i class="fa fa-trash-o "></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <small>10:15:26 6-04-2014</small>
                                        <h4>Ipsum used standard chunk of Lorem</h4>
                                        <p>Standard chunk  is reproduced below for those.</p>
                                        <a href="#"><i class="fa fa-trash-o "></i></a>
                                    </div>
                                </li>*@
                        </ul>
                    }
                    else
                    {
                        <div href="@Url.Action(MVC.Notas.Criar())" class="alert alert-success ajax-modal" role="alert">
                            <p class="text-muted">Clique aqui para adicionar sua primeira nota.</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
    @Html.Partial("_ScriptsNotas")
}