﻿#PasswordString-error, #Email-error, #Name-error, #email-error {
    color: red !important;
}

.html5buttons {
    float: none !important;
    margin-top: -17px !important;
}

.star-icon {
    color: #FFFF00 !important;
}

.news-image {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.datepicker{
    z-index: 2147483647 !important;
    cursor: pointer;
}

#page-wrapper {
    min-height: 1000px !important;
}

/*.hiddenField, input#Name, textarea#Content {
    background-color: #FFFFCC !important;
    border: none !important; 
}*/

.mininum-height {
    min-height: 500px !important;
}

.tooltip{
    display: inline;
    position: relative;
}



.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}



.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

body.canvas-menu .nav-header {
    background-color: #2F4050 !important;
    padding: 33px 25px !important;
}

.margin-tag {
    margin-right: 5px !important;
}


.show-manager.ajax-modal {
    min-height: 87px !important;
}

.show-manager.ajax-modal > p {
    min-height: 35px !important;
}


#State_chosen {
    min-width: auto !important;
}

.float-e-margins .btn {
    margin-top: 10% !important;
}

input#EndDate {
    width: 238px !important;
}

.margin-top-five {
    margin-top: 5% !important;
}

.loading-message{color:#5A5A5A!important;display:inline-block;font-weight:400;margin:0 auto;min-width:125px;padding:10px;text-align:center;vertical-align:middle;border-radius:5px}
.loading-message span{line-height:20px;vertical-align:middle}
.loading-message.loading-message-boxed{background-color:#EEE;border:1px solid #DDD;box-shadow:0 1px 8px rgba(0,0,0,0.1)}
.page-loading{background-color:#EEE;border:1px solid #DDD;box-shadow:0 1px 8px rgba(0,0,0,0.1);color:#333;left:50%;margin-left:-50px;margin-top:-30px;min-width:125px;padding:7px;position:fixed;text-align:center;top:50%;vertical-align:middle}
.page-loading span{line-height:20px;vertical-align:middle}
.blockUI{z-index:99999999999999999999!important}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #18A689 !important;
    border-color: #18A689 !important;
    color: #fff;
}

