﻿<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar etiqueta</h4>
            </div>
            @using (Html.BeginForm(MVC.Etiquetas.Criar(), FormMethod.Post, new { @class = "form-validate" }))
            {
                <div class="modal-body">
                    <label class="control-label">Nome da etiqueta:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextBox("Name").Class("form-control required"))
                        </div>
                    </div>
                    <br />
                    @*<div class="row row-space-10 i-checks">
                        <div class="col-md-12 m-b-15">
                            <label class="control-label">Arquivar?</label>
                            @(this.CheckBox("isArchivied").Class("icheckbox_square-green"))
                        </div>
                    </div>*@
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(".i-checks").livequery(function () {
        $(this).iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green"

        });
    });
</script>
