﻿@using System.Linq
@using System.Web.Mvc
@model TTag
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deseja excluir a etiqueta: "@Model.Name.LimitSize(30)" ?</h4>
            </div>
            @using (Html.BeginForm(MVC.Etiquetas.Excluir(), FormMethod.Post, new { @class = "form-validate" }))
            {
                <div class="modal-body">
                    @if (Model.TBoards.Any())
                    {
                        <p class="text-justify">Essa etiqueta possui quadros vinculados a ela. Ao excluir essa etiqueta, você também estará excluindo esses quadros. Tem certeza que deseja excluir?</p>
                    }
                    else
                    {
                        <p class="text-justify">Essa etiqueta não possui quadros vinculados a ela. Você pode excluí-la normalmente. Tem certeza que deseja excluir essa etiqueta?</p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Excluir</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

