﻿@model TAssignment

@using (Html.BeginForm(MVC.Comentarios.AdicionarComentario(), FormMethod.Post, new { @class = "form-validate" }))
{
    @(this.Hidden("id").Value(Model.Id))
    <div class="form-group">
        @(this.TextArea("content").Class("form-control required").Attr("placeholder", "Escrever comentário"))
    </div>
    <div class="form-group">
        <button type="submit" data-container="#container-comentario" href="@Url.Action(MVC.Comentarios.AdicionarComentario(Model.Id))" class="btn btn-outline btn-primary pull-right ajax-request-coment post">Comentar</button>
    </div>
}

@*@section Footer{
        @Html.Partial("_ScriptsComentarios")
    }*@
