﻿@using System
@model TComent
    <div class="feed-element">
        <div class="media-body ">
            <small class="pull-right text-navy">há @((DateTime.Now - Model.CreationDate).Hours) hora(s) atrás</small>
            <div class="margin-top-five">
                <strong>@Model.CreatedBy.Name</strong> postou um comentário na tarefa: <strong>@Model.Assignment.Name</strong> site. <br>
                <small class="text-muted">@Model.CreationDate.ToShortTimeString() - @Model.CreationDate.ToShortDateString()</small>
                <div class="well">
                    @Model.Content
                </div>
            </div>
        </div>
    </div>
