﻿@inherits ModelWebViewPage<TComent>
@{
    var returnUrl = ViewBag.ReturnUrl;
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar comentário: "@Model.Content.LimitSize(30)" ?</h4>
            </div>
            @using (Html.BeginForm(MVC.Comentarios.Editar(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("returnUrl").Value(returnUrl))
                @(this.Hidden("idComent").Value(Model.Id))
                <div class="modal-body">
                    <label class="control-label">Comentário:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextArea(x=>x.Content).Class("form-control required"))
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
