﻿@model TComent
@{
    var returnUrl = ViewBag.ReturnUrl;
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deseja excluir o comentário?</h4>
            </div>
            @using (Html.BeginForm(MVC.Comentarios.Excluir(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("returnUrl").Value(returnUrl))
                @(this.Hidden("idComent").Value(Model.Id))
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir o comentário: <strong> "@Model.Content"</strong> da tarefa: <strong>"@Model.Assignment.Name.LimitSize(30)"</strong> ? </p>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Excluir</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
