﻿@model TUser
@{
    ModelSelectList<TProfile> profileSelectList = (ModelSelectList<TProfile>) ViewBag.Perfis;       
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Escolha o novo perfil de: "@Model.Name":</h4>
            </div>
            @using (Html.BeginForm(MVC.Gerenciamento.AlterarPerfil(), FormMethod.Post, new { @class = "form-validate" }))
            {
                <div class="modal-body">
                    @(this.Hidden("idUsuario").Value(Model.Id))
                    @(this.AutoSelect("idProfile").Options(profileSelectList).Class("form-control required"))
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Alterar"/>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

