﻿@inherits ModelWebViewPage<TUser>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cadastrar novo usuário no sistema</h4>
            </div>
            @using (Html.BeginForm(MVC.Gerenciamento.CadastrarUsuario(), FormMethod.Post, new { @class = "form-validate" }))
            {
                <div class="modal-body">
                    <label class="control-label">Nome:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextBox(x=>x.Name).Class("form-control required"))
                        </div>
                    </div>
                    <label class="control-label">E-mail:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextBox(x=>x.Email).Class("form-control required email"))
                        </div>
                    </div>
                    <label class="control-label">Senha:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.Password(x=>x.PasswordString).Class("form-control required"))
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

