﻿@model System.Collections.Generic.List<TUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Gerenciamento de usuários";
}

@*<div class="container">
        <h2>Usuários</h2>
        <p>Usuários recentemente cadastrados</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Perfil</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Name</td>
                        <td>@usuario.Email</td>
                        <td>
                            @usuario.Profile.Name
                        </td>
                        <td>
                            <a href="@Url.Action(MVC.Usuarios.Excluir(usuario.Id))" class="ajax-modal"><span><i class="fa fa-trash-o"></i> Excluir</span></a>
                            <br />
                            <a href="@Url.Action(MVC.Gerenciamento.AlterarPefil(usuario.Id))" class="ajax-modal"><span><i class="fa fa-user"></i> Alterar perfil</span></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a class="btn btn-primary ajax-modal" href="@Url.Action(MVC.Gerenciamento.CadastrarUsuario())" role="button">Cadastrar usuário</a>
    </div>*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Gerenciamento de usuários</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action(MVC.Quadros.Index())">Página inicial</a>
            </li>
            <li>
                <a>Gerenciamento</a>
            </li>
            <li class="active">
                <strong>Gerenciamento de usuários</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>Gerenciamento de usuários do sistema</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a class="ajax-modal" href="@Url.Action(MVC.Gerenciamento.CadastrarUsuario())">Cadastrar novo usuário</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Perfil</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var usuario in Model)
                            {
                                <tr class="gradeX">
                                    <td>@usuario.Name</td>
                                    <td>
                                        @usuario.Email
                                    </td>
                                    <td>@usuario.Profile.Name</td>
                                    <td class="center">
                                        <a href="@Url.Action(MVC.Usuarios.Excluir(usuario.Id))" class="ajax-modal"><span><i class="fa fa-trash-o"></i> Excluir</span></a>
                                        <br/>
                                        <a href="@Url.Action(MVC.Gerenciamento.AlterarPefil(usuario.Id))" class="ajax-modal"><span><i class="fa fa-user"></i> Alterar perfil</span></a>
                                    </td>

                                </tr>
                            }


                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Perfil</th>
                                <th>Ações</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>