<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@(ViewBag.Title ?? "ProjetoFinal")</title>
    @H.Stylesheet("avalon.css")
    @H.Stylesheet("fancybox/jquery.fancybox-1.3.1.css")
    @H.Script("jquery-1.4.2.min.js")
    @H.Script("jquery.fancybox-1.3.1.mod.js")
    @H.Script("master.js")
    @RenderSection("header", required: false)
</head>
<body>
    <div class="header">
        <div class="container">
            <a href="@Url.Action(MVC.Home.Index())"><span class="logo">ProjetoFinal</span>
            </a>
            <div class="menu">
                <ul>
                    <li>
                        @Html.ActionLink("Home", MVC.Home.Index())
                        <li>
                    @Html.ActionLink("About", MVC.Home.About())
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="container">
            Simple.Net @Simply.Do.Version
            by <a href="http://www.livingnet.com.br">Living Consultoria</a>
        </div>
    </div>
</body>
</html>
