﻿@inherits MvcContrib.FluentHtml.ModelWebViewPage<TUser>
<script src="https://www.google.com/recaptcha/api.js"></script>
<style>
    .modal-sm {
        width: 330px !important;
    }
</style>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@(((bool)ViewBag.isHome) ? "Recuperar senha de acesso:" : "Alterar senha de acesso:")</h4>
                @if (!(bool)ViewBag.isHome)
                {
                    <div class="small m-t-xs">
                        <p>Enviaremos para o seu e-mail, uma solicitação de alteração da sua senha de acesso.</p>
                    </div>
                }
            </div>
            @using (Html.BeginForm(MVC.Usuarios.SolicitacaoAlteracaoSenha(), FormMethod.Post, new { @class = "form-validate" }))
            {
                <div class="modal-body">
                    @if ((bool)ViewBag.isHome)
                    {
                        <p>Enviaremos para o seu e-mail, uma solicitação de alteração da sua senha de acesso.</p>
                    }

                    <div class="row row-space-10">
                        <div class="@((bool)ViewBag.isHome ? "col-md-12 m-b-15" : "")">
                            @(this.TextBox("email").Class(((bool)ViewBag.isHome) ? "form-control-optional required email" : "form-control required email").Attr("placeholder", "E-mail"))
                        </div>

                    </div>
                    <div class="row row-space-10 margin-top-five">
                        <div class="@((bool) ViewBag.isHome ? "col-md-12 m-b-15" : "")">
                            <div class="g-recaptcha required" data-sitekey="6LfWtwgTAAAAAE7h5np9JabeEfbKnVXBDUpzyyKb"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Solicitar nova senha</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
