﻿@inherits MvcContrib.FluentHtml.ModelWebViewPage<TUser>
@{
    var returnUrl = ViewBag.ReturnUrl;
    bool usuarioGoogleAutenticado = (bool)ViewBag.UsuarioGoogleAutenticado;
    bool error = (bool)ViewBag.Error;
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@(usuarioGoogleAutenticado ? "Você já está autenticado" : "Autenticação com conta Google")</h4>
            </div>
            @if (usuarioGoogleAutenticado)
            {
                <div class="modal-body">
                    <p>Olá, <strong>@Model.Name</strong>!</p>
                    <a class="btn btn-block btn-primary" href="@Url.Action(MVC.Quadros.Index())">Ir para caixa de entrada</a>
                </div>
            }
            else
            {
                using (Html.BeginForm(MVC.Usuarios.AutenticacaoGoogle(), FormMethod.Post, new {@class = "form-validate"}))
                 {
                     @(this.Hidden(x => x.Name).Value(Model.Name))
                     @(this.Hidden(x => x.GoogleId).Value(Model.GoogleId))
                     @(this.Hidden(x => x.Image).Value(Model.Image))
                     @(this.Hidden("returnUrl").Value(returnUrl))
                     <div class="modal-body">
                         <p>Olá, @Model.Name, só precisamos de mais algumas informações, mas não se preocupe, sempre que notarmos que você é um usuário Google, essas informações não serão mais solicitadas ;)</p>
                         <div class="subscibe">
                             <div class="form-group">
                                 <label>E-mail:</label>
                                 @(this.TextBox(x => x.Email).Class("form-control-optional email required"))
                             </div>
                             <div class="form-group">
                                 <label>Senha:</label>
                                 @(this.Password(x => x.PasswordString).Class("form-control-optional required"))
                             </div>
                         </div>
                     </div>
                     <div class="modal-footer">
                         <button type="submit" class="btn btn-primary">Autenticar com Google</button>
                     </div>
                 }
            }
            @if (error)
            {
                <div class="modal-body">
                    <p>Ocorreu um erro na autenticação de seus dados, atualize a página e tente novamente</p>
                </div>
            }

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->