﻿@inherits MvcContrib.FluentHtml.ModelWebViewPage<TUser>
@{
    var returnUrl = ViewBag.ReturnUrl;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SimpleTasker - Alteração de Senha</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @H.Stylesheet("inspinia/animate.css")
    @H.Stylesheet("inspinia/style.min.css")

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Configurar sua nova senha de acesso:</h2>

                    <p>
                        Olá <strong>@Model.Name</strong>, já identificamos você. Agora escolha sua nova senha de acesso para altera-la.
                    </p>

                    <div class="row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm(MVC.Usuarios.AlterarSenha(), FormMethod.Post, new { @class = "form-register" }))
                            {

                                <div class="form-group">
                                    @(this.Hidden("returnUrl").Value(returnUrl))
                                    @this.Hidden("token").Value(Model.Token)
                                    @(this.Password(x => x.PasswordString).Class("form-control required").Attr("placeholder", "Nova senha"))
                                    @(this.Password("confirmaSenha").Class("form-control required").Attr("placeholder", "Digite a nova senha novamente"))
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Alterar senha</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @H.Script("inspinia/jquery-2.1.1.js")
    @H.Script("inspinia/jquery-ui-1.10.4.min.js")
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @H.Script("inspinia/jquery.metisMenu.js")
    @H.Script("inspinia/jquery.slimscroll.min.js")
    @H.Script("inspinia/inspinia.js")
    @H.Script("inspinia/pace.min.js")
    @H.Script("jquery.livequery.min.js")
    @H.Script("jquery.validate.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.meiomask/1.1.14/meiomask.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @H.Script("master.js")
    @H.Script("app.js")
    <script>

        //Inicialização  app.js
        $(function () {
            App.init();
        });

    </script>
</body>

</html>