﻿@inherits MvcContrib.FluentHtml.ModelWebViewPage<TUser>
@{
    ViewBag.Title = "Lorem ipsum  - Cadastre-se";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <div class="register register-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="@Links.Content.img.bg_5_jpg" alt=" " />
            </div>
            <div class="news-caption">
                <h4 class="caption-title"><i class="fa fa-edit text-success"></i> Lorem ipsum - Gerenciamento de Listas de Tarefas</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                </p>
            </div>
        </div>

        <div class="right-content">
            <h1 class="register-header">
                Cadastre-se
                <small>Crie uma conta agora mesmo</small>
            </h1>
            <div class="register-content">
                @using (Html.BeginForm(MVC.Usuarios.Cadastrar(), FormMethod.Post, new { @class = "form-validate" }))
                {
                    
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextBox(x => x.Name).Class("form-control input-lg required").Attr("placeholder", "Nome"))
                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            @(this.TextBox(x => x.Email).Class("form-control input-lg email required").Attr("placeholder", "E-mail"))
                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            @(this.Password(x => x.PasswordString).Class("form-control input-lg required").Attr("placeholder", "Senha"))
                        </div>
                    </div>

                    <div class="checkbox m-b-30">
                        <label>
                            <input type="checkbox" /> Ao se cadastrar você estará concordando com nossos <a href="#">Termos de uso</a> e que você leu sobre nossa <a href="#">Política de Privacidade</a>.
                        </label>
                    </div>
                    <div class="register-buttons">
                        @(this.SubmitButton("Cadastrar").Class("btn btn-primary btn-block btn-lg"))
                    </div>
                    <div class="m-t-20 m-b-40 p-b-40">
                        Você já possui conta um conta? <a href="@Url.Action(MVC.Usuarios.Login())">Acesse</a> agora mesmo.
                    </div>
                }
            </div>
        </div>
    </div>
        <style>
            #PasswordString-error, #Email-error, #Name-error {
                color: red !important;
            }

            #Name {
                text-transform: capitalize;
            }
        </style>
