﻿@using NHibernate.Type
@inherits ModelWebViewPage<TUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Editar conta";
    ModelSelectList<string> states = (ModelSelectList<string>)ViewBag.States;
}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">

            <div class="profile-image">
                @if (!string.IsNullOrWhiteSpace(Model.Image))
                {
                    <img src="@Model.Image" alt="@Model.Name" id="image" class="resizeme img-circle circle-border m-b-md" />
                }
                else
                {
                    <img alt="Carregue uma foto de perfil" class="img-circle circle-border m-b-md" src="http://placehold.it/84x84">
                }

            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            @Model.Name
                        </h2>
                        <h4>@Model.Profile.Name</h4>
                        <small>
                            There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form Ipsum available.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar conta</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div>
                        @using (Html.BeginForm(MVC.Usuarios.EditarConta(), FormMethod.Post, new { @class = "form-validate", enctype = "multipart/form-data" }))
                        {
                            @(this.Hidden(x => x.Id).Value(Model.Id))
                            @(this.Hidden(x => x.Email).Value(Model.Email))
                            <div class="feed-activity-list">

                                <div class="feed-element">
                                    <div class="media-body ">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Nome:</label>

                                            <div class="col-lg-10">
                                                @(this.TextBox(x => x.Name).Class("form-control required"))
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-element">
                                    <div class="media-body ">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">E-mail:</label>

                                            <div class="col-lg-10">
                                                @(this.TextBox(x => x.Email).Disabled(true).Class("form-control email required"))

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="feed-element">
                                    <div class="media-body ">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Site:</label>

                                            <div class="col-lg-10">
                                                @(this.TextBox(x => x.Website).Class("form-control website"))

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="feed-element">

                                    <div class="media-body ">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Data de nascimento:</label>

                                            <div class="col-lg-10">
                                                @(this.TextBox(x => x.BirthDate).Class("form-control").Attr("alt", "date").Attr("placeholder", "dd/mm/aaaa"))

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-element">
                                    <div class="media-body ">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Celular:</label>

                                            <div class="col-lg-10">
                                                @(this.TextBox(x => x.PhoneNumber).Class("form-control").Attr("alt", "phone_9digito").Attr("placeholder", "(xx) xxxxx-xxxx"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-element">
                                    <div class="media-body ">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Foto de perfil:</label>

                                            <div class="col-lg-10">
                                                @this.FileUpload("foto")
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Estado:</label>

                                            <div class="col-lg-10">
                                                <div class="input-group">
                                                    @(this.AutoSelect(x => x.State).FirstOption("State").Options(states).Class("form-control chosen-select"))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary m" value="Salvar alterações" />
                        }
                    </div>

                </div>
            </div>
            @*<div class="ibox-content">
                <p>
                    A simple jQuery image cropping plugin.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-crop">
                            <img src="img/p3.jpg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Preview image</h4>
                        <div class="img-preview img-preview-sm"></div>
                        <h4>Comon method</h4>
                        <p>
                            You can upload new image to crop container and easy download new cropped image.
                        </p>
                        <div class="btn-group">
                            <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                Upload new image
                            </label>
                            <label title="Donload image" id="download" class="btn btn-primary">Download</label>
                        </div>
                        <h4>Other method</h4>
                        <p>
                            You may set cropper options with <code>$({image}).cropper(options)</code>
                        </p>
                        <div class="btn-group">
                            <button class="btn btn-white" id="zoomIn" type="button">Zoom In</button>
                            <button class="btn btn-white" id="zoomOut" type="button">Zoom Out</button>
                            <button class="btn btn-white" id="rotateLeft" type="button">Rotate Left</button>
                            <button class="btn btn-white" id="rotateRight" type="button">Rotate Right</button>
                            <button class="btn btn-warning" id="setDrag" type="button">New crop</button>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
@section Footer{
    @Html.Partial("_ScriptsUsuarios")
}
