﻿@inherits MvcContrib.FluentHtml.ModelWebViewPage<TUser>
@{
    ViewBag.Title = "Lorem ipsum - Entrar ";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- begin login -->
<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image">
            <img src="@Links.Content.img.bg_8_jpg" data-id="login-cover-image" alt="" />
        </div>
        <div class="news-caption">
            <h4 class="caption-title"><i class="fa fa-edit text-success"></i> Lorem ipsum - Lorem ipsum dolor sit amet</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            </p>
        </div>
    </div>
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> Lorem ipsum
                <small>Entre com seus dados para acessar sua conta</small>
            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <div class="login-content">
            @using (Html.BeginForm(MVC.Usuarios.Login(), FormMethod.Post, new { @class = "form-validate margin-bottom-0" }))
            {
                <div class="form-group m-b-15">
                    @(this.TextBox(x => x.Email).Class("form-control input-lg required email").Attr("placeholder", "E-mail"))
                </div>
                <div class="form-group m-b-15">
                    @(this.Password(x => x.PasswordString).Class("form-control input-lg required").Attr("placeholder", "Senha"))
                </div>
                <div class="login-buttons">
                    @(this.SubmitButton("Entrar").Class("btn btn-success btn-block btn-lg"))
                </div>
                <div class="m-t-20 m-b-40 p-b-40">
                    Ainda não possui uma conta? <a href="@Url.Action(MVC.Usuarios.Cadastrar())">Clique aqui</a>.
                </div>

                @*<div class="login-buttons">
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                </div>
                <div id="status">
                </div>*@
                <hr />
                <p class="text-center">
                    &copy; Lorem ipsum - Todos os Direitos Reservados 2015
                </p>
            }

            @*<span id="signinButton">
                <span class="g-signin"
                      data-callback="signinCallback"
                      data-clientid="971126481557-dfkuj8a89agdopgdrk7lhj0oltu0uskv.apps.googleusercontent.com"
                      data-cookiepolicy="single_host_origin"
                      data-requestvisibleactions="http://schemas.google.com/AddActivity"
                      data-scope="https://www.googleapis.com/auth/plus.login">
                </span>
            </span>*@
        </div>
    </div>
</div>

