﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SimpleTasker - Gerenciamento de Tarefas">
    <meta name="author" content="Anna Luiza Medeiros Nascimento">
    <title>@(ViewBag.Title ?? "Simple Tasker - Página inicial")</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,200,100,300,500,600,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,700italic,900,400italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    @H.Stylesheet("institucional/animate.min.css")
    @H.Stylesheet("institucional/style.css")
    <!-- Custom CSS -->
    @H.Stylesheet("institucional/creative.css")
    @H.Stylesheet("principal/master.css")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SimpleTasker</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Descubra</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Vantagens</a>
                    </li>
                    @if (SecurityContext.Do.IsAuthenticated)
                    {
                        <li>
                            <a class="" href="@Url.Action(MVC.PaginaInicial.Index())">Minha conta</a>
                        </li>
                        <li>
                            <a class="" href="@Url.Action(MVC.Usuarios.Logout())">Sair</a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a class="ajax-modal" href="../projetofinal/home/AutenticacaoInstitucional?cadastro=true">Cadastre-se</a>
                        </li>
                        <li>
                            <a class="ajax-modal" href="../projetofinal/home/AutenticacaoInstitucional?cadastro=false">Entrar</a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Simple Tasker  Gerenciamento de Tarefas</h1>
                <hr>
                <p> Descubra um jeito simples de gerenciar suas tarefas e fazer seu tempo render com Simple Tasker.</p>
                <a href="../projetofinal/home/AutenticacaoInstitucional?cadastro=false" class="btn btn-primary btn-xl ajax-modal">Acesse agora mesmo</a>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Como transformar o seu tempo em um bem maior?</h2>
                    <hr class="light">
                    <p class="text-faded"> Nossa missão é transformar o tempo livre em algo maior que nós mesmos, em algo produtivo, que possa ser compartilhado, uma geração de valor, transformando tudo ao nosso redor.</p>
                    <a href="../projetofinal/home/AutenticacaoInstitucional?cadastro=true" class="btn btn-default btn-xl ajax-modal">Cadastre-se e descubra essa magia</a>
                </div>
            </div>
        </div>
    </section>
    <div class="features" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vantagens na utilização do SimpleTasker</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
                    <div class="feature-icons"> <img src="@Links.Content.institucional.images.idea_png" /></div>
                    <div class="fh-desc">
                        <h3>Defina prioridades</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
                    <div class="feature-icons"> <img src="@Links.Content.institucional.images.time_png" /> </div>
                    <div class="fh-desc">
                        <h3>Gerencie seu Tempo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
                    <div class="feature-icons"> <img src="@Links.Content.institucional.images.money_png" /> </div>
                    <div class="fh-desc">
                        <h3>Fácil de usar</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
                    <div class="feature-icons"> <img src="@Links.Content.institucional.images.support_png" /> </div>
                    <div class="fh-desc">
                        <h3>Suporte 24 horas via Chat</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="container">
        @RenderBody()
    </section>
    @*<section id="contato">
        <div class="subscribe-social">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="subscibe">
                            <form role="form">
                                <div class="col-md-8 col-sm-10 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-2 col-xs-12 centertext">
                                    <button type="submit" class="btn btn-or">Cadastre-se em nossa Newsletter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <footer class="foot">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="foot-logo">SimpleTasker</h4>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 text-center">
                    <p class="foot-text">Copyrights &copy; 2015 | Todos os direitos reservados : <a href="http://html5layouts.com">Anna Luiza Medeiros</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <div id="modal"></div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    @H.Script("institucional/jquery.easing.min.js")
    @H.Script("institucional/jquery.fittext.js")
    @H.Script("institucional/wow.min.js")
    @H.Script("institucional/creative.js")
    @H.Script("datepicker/bootstrap-datepicker.js")
    @H.Script("datepicker/bootstrap-datepicker.pt-BR.js")
    @H.Script("jquery.livequery.min.js")
    @H.Script("jquery.validate.min.js")
    @H.Script("blockUI/jquery.blockui.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.meiomask/1.1.14/meiomask.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @Html.Partial("_Alertas")
    @H.Script("master.js")
    @H.Script("app.js")
    @RenderSection("Footer", false)
    <script>
        $(function () {
            App.init();
        });
    </script>



</body>

</html>
