﻿@using System.Linq
@{
    var boards = TBoard.ListAllByFilters();
    var tagBoards = TBoard.ListAllTagBoards();
    var tags = TTag.ListAlltags();

    var notificationBoards = new NotificationBoardsPage();
    notificationBoards.Boards = boards;
    notificationBoards.Notifications = notificationBoards.ShowNotifications();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewBag.Title ?? "Simple Tasker - Página inicial")</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.rawgit.com/fengyuanchen/cropper/v2.1.0/dist/cropper.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.print.css" rel="stylesheet"/>
    <link href="https://www.jsdelivr.com/#!hint.css https://cdnjs.com/libraries/hint.css" rel="stylesheet"/>
    @H.Stylesheet("inspinia/animate.css")
    @H.Stylesheet("inspinia/style.css")
    @H.Stylesheet("theme/red.css")
    @H.Stylesheet("plugins/jquery-ui.min.css")
    @H.Stylesheet("plugins/icheck/icheck-custom.css")
    @H.Stylesheet("chosen/chosen.css")
    @H.Stylesheet("dCalendar/dcalendar.picker.css")
    @H.Stylesheet("colorselector/bootstrap-colorselector.css")
    @H.Stylesheet("dataTables/datatables.min.css")
    @H.Stylesheet("summernote/summernote.css")
    @H.Stylesheet("summernote/summernote-bs3.css")
    @H.Stylesheet("codemirror/codemirror.css")
    @H.Stylesheet("codemirror/ambiance.css")
    @H.Stylesheet("dropzone/basic.css")
    @H.Stylesheet("dropzone/dropzone.css")
    @H.Stylesheet("principal/master.css")
</head>
<body class="md-skin fixed-sidebar fixed-nav">

    <div id="wrapper">
        @Html.Partial("_MenuLateral", tags)

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Pesquisar" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        @Html.Partial("_Notificacoes", boards)
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-inbox"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action(MVC.Quadros.Index())">
                                        <div>
                                            Caixa de Entrada
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-plus"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action(MVC.Quadros.Criar())" class="ajax-modal">
                                        <div>
                                            <i class="fa fa-plus text-navy"></i> Novo quadro
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                @if (boards.Any())
                                {
                                    <li>
                                        <a href="@Url.Action(MVC.Tarefas.TarefaRapida())" class="ajax-modal">
                                            <div>
                                                <i class="fa fa-magic text-navy"></i> Tarefa rápida
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                }
                                <li>
                                    <a href="@Url.Action(MVC.Etiquetas.Criar())" class="ajax-modal">
                                        <div>
                                            <i class="fa fa-circle text-navy"></i> Criar etiqueta
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action(MVC.Notas.Criar())" class="ajax-modal">
                                        <div>
                                            <i class="fa fa fa-sticky-note text-navy"></i> Adicionar nota
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-gear"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action(MVC.PaginaInicial.Index())">
                                        <div>
                                            <i class="fa fa-home text-navy"></i> Página inicial
                                        </div>
                                    </a>
                                </li>
                                <li class="divider">Administrador</li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-cogs text-navy"></i> Configurações
                                        </div>
                                    </a>
                                </li>
                                @if (SecurityContext.Do.User.Profile.Id == 1)
                                {
                                    <li class="divider">Administrador</li>
                                    <li>
                                        <a href="@Url.Action(MVC.Gerenciamento.Index())"><i class="fa fa-gear text-navy"></i> Gerenciamento</a>
                                    </li>
                                }@*<li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                Premium

                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                Professional

                                            </div>
                                        </a>
                                    </li>*@<li class="divider"></li>
                                <li>
                                    <a href="@Url.Action(MVC.Usuarios.Logout())">
                                        <div>
                                            <i class="fa fa-sign-out text-navy"></i> Sair
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="right-sidebar-toggle">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>

                </nav>
         @Html.Partial("_RightSidebar", notificationBoards)
            </div>

            <div class="wrapper wrapper-content  animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Todos os direitos reservados</strong> SimpleTasker &copy; 2015
                </div>
            </div>
        </div>
    </div>
    <div id="modal"></div>

    @*@H.Script("inspinia/jquery-2.1.1.js")*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    @H.Script("inspinia/jquery-ui-1.10.4.min.js")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @*@H.Script("inspinia/bootstrap.min.js")*@
    @H.Script("inspinia/jquery.metisMenu.js")
    @H.Script("inspinia/jquery.slimscroll.min.js")
    @H.Script("inspinia/pace.min.js")
    @H.Script("jquery.livequery.min.js")
    @H.Script("jquery.validate.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.meiomask/1.1.14/meiomask.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.rawgit.com/fengyuanchen/cropper/v2.1.0/dist/cropper.min.js"></script>
    @H.Script("fullcalendar/moment.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
    @H.Script("fullcalendar/lang/pt-br.js")
    @H.Script("jQueryResize/jquery.ae.image.resize.min.js")
    @H.Script("iCheck/icheck.min.js")
    @H.Script("chosen/chosen.jquery.js")
    @H.Script("dCalendar/dcalendar.picker.js")
    @H.Script("blockUI/jquery.blockui.min.js")
    @H.Script("jScrollPane/jscrollpane.min.js")
    @H.Script("dropzone/dropzone.js")
    @H.Script("inspinia/inspinia.js")
    @H.Script("scrollHorizontal/jquery.horizontal.scroll.js")
    @H.Script("colorselector/bootstrap-colorselector.js")
    @H.Script("dataTables/datatables.min.js")
    @H.Script("summernote/summernote.min.js")

    @H.Script("dataTables/datatables.min.js")
            @H.Script("apps.min.js")
            @H.Script("master.js")
            @H.Script("app.js")
            @Html.Partial("_Alertas")
            @Html.Partial("_ResizeImage")
            @RenderSection("Footer", false)
    <script>

            $(document).ready(function(){
                $('.dataTables-example').DataTable({
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        {extend: 'csv'},
                        {extend: 'excel', title: 'TabelaExcelSimpleTasker'},
                        { extend: 'pdf', title: 'TabelaPDFSimpleTasker' },

                        {extend: 'print',
                            customize: function (win){
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');

                                $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                            }
                        }
                    ],

                    "language": {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }

                });


            // transferencia de tarefas entre quadros
            var idQuadro;
            $(".sortable-list").livequery(function () {
                $(this).sortable({
                    connectWith: ".connectList",
                    receive: function (event, ui) {
                        idQuadro = $(ui.item.context).parent().attr('data-idquadro');
                        console.info(event);
                        console.info(ui);
                        console.info(ui.item);
                        console.info(idQuadro);
                    },
                    update: function () {
                        var url = $("#todo").attr("data-url");
                        var idTarefa = $("#todo").attr("data-idtarefa");
                        App.blockUI({ boxed: true });
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: { 'idTarefa': idTarefa, 'idQuadro': idQuadro },
                            success: function (data) {
                                App.unblockUI();
                                App.initAddAlertToPage("A tarefa foi movida para outro quadro.", "success");
                            }
                        });
                    }
                }).disableSelection();
            });
        });

        //checkbox
        $(document).ready(function() {
            $(".i-checks").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: 'iradio_square',
                increaseArea: '20%'
            });
        });

        $("body.canvas-menu .sidebar-collapse").slimScroll({
            height: '100%',
            railOpacity: 0.9
        });

        $(document).ready(function () {
            $('#horiz_container_outer').horizontalScroll();

        });

        function PieMenuInit() {
            $('#outer_container').livequery(function() { $(this).PieMenu({
                'starting_angel': $('#s_angle').val(),
                'angel_difference': $('#diff_angle').val(),
                'radius': $('#radius').val(),
            });
            });
        }
        $(function () {
            $("#submit_button").click(function () { reset(); });
            $("#outer_container").draggable();
            PieMenuInit();

        });
        function reset() {
            if ($(".menu_button").hasClass('btn-rotate'))
                $(".menu_button").trigger('click');

            $("#info").fadeIn("slow").fadeOut("slow");
            PieMenuInit();
        }

        $('.summernote').summernote();
        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };
        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
        //Inicialização  app.js
        $(function () {
            App.init();
        });



    </script>


</body>

</html>

