﻿@using System.Linq
@{
    var boards = TBoard.ListAllBoards();
    var totalElements = 0;
    if (boards != null)
    {
        totalElements = boards.Sum(board => board.TAssignments.Count(x => x.Completed == false));
    }
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@(ViewBag.Title ?? "Lorem ipsum - Página inicial")</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    @H.Stylesheet("theme/red.css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css">
    @H.Stylesheet("inspinia/animate.css")
    @H.Stylesheet("inspinia/style.min.css")
    @H.Stylesheet("plugins/jquery-ui.min.css")
    @H.Stylesheet("plugins/icheck/icheck-custom.css")
    @H.Stylesheet("principal/master.css")
</head>
<body class="canvas-menu">
    <div id="wrapper">
        @Html.Partial("_MenuLateral")
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar  navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
                        @*@*<form role="search" class="navbar-form-custom" action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Pesquisar" class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>*@
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>
                                @if (totalElements != 0)
                                {
                                    <span class="label label-primary">@totalElements</span>
                                }
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                @if (totalElements != 0)
                                {
                                    foreach (var board in boards)
                                    {
                                        var totalBoardElements = @board.TAssignments.Count(x => x.Completed == false);
                                        <li>
                                            <a href="#">
                                                <div>
                                                    @if (totalBoardElements != 0)
                                                    {
                                                        <span><i class="fa fa-comments-o"> </i> <strong>@totalBoardElements</strong> tarefa(s) não-concluída(s) em: <strong>@board.Name</strong>. </span>
                                                    }
                                                    else
                                                    {
                                                        <span><i class="fa fa-comments-o"></i> Parabéns! Todas as tarefas do quadro <strong>@board.Name</strong> concluídas.</span>
                                                    }
                                                    @*<span class="pull-right text-muted small">4 minutes ago</span>*@
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="#">
                                            <div>
                                                <span>
                                                    <i class="fa fa-comments-o"></i> Parabéns! Todas as tarefas dos seus quadros estão concluídas.
                                                </span>
                                                @*<span class="pull-right text-muted small">4 minutes ago</span>*@
                                            </div>
                                        </a>
                                    </li>
                                }
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>Ver todas notificações</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-plus"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action(MVC.PaginaInicial.Index())">
                                        <div>
                                            Página inicial
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-gear"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action(MVC.PaginaInicial.Index())">
                                        <div>
                                            Página inicial
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action(MVC.Quadros.Gerenciar())">
                                        <div>Gerenciar quadros</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            Configurações
                                        </div>
                                    </a>
                                </li>
                                @if (SecurityContext.Do.User.Profile.Id == 1)
                                {
                                    <li class="divider">Administrador</li>
                                    <li>
                                        <a href="@Url.Action(MVC.Gerenciamento.Index())" class="text-muted welcome-message"><i class="fa fa-gear"></i> Gerenciamento</a>
                                    </li>
                                }
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            Premium

                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            Professional

                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action(MVC.Usuarios.Logout())">
                                        <div> <i class="fa fa-sign-out"></i> Sair </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </nav>
            </div>

            @RenderBody()
            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Todos os direitos reservados</strong> SimpleTasker &copy; 2015
                </div>
            </div>

        </div>
    </div>

    <div id="modal"></div>

    @H.Script("inspinia/jquery-2.1.1.js")
    @H.Script("inspinia/jquery-ui-1.10.4.min.js")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @*@H.Script("inspinia/bootstrap.min.js")*@
    @H.Script("inspinia/jquery.metisMenu.js")
    @H.Script("inspinia/jquery.slimscroll.min.js")
    @H.Script("inspinia/inspinia.js")
    @H.Script("inspinia/pace.min.js")
    @H.Script("datepicker/bootstrap-datepicker.js")
    @H.Script("datepicker/bootstrap-datepicker.pt-BR.js")
    @H.Script("jquery.livequery.min.js")
    @H.Script("jquery.validate.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.meiomask/1.1.14/meiomask.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @H.Script("iCheck/icheck.min.js")
    @H.Script("apps.min.js")

    @H.Script("master.js")
    @H.Script("app.js")

    @Html.Partial("_Alertas")
    @RenderSection("Footer", false)
    <script>
        $(document).ready(function () {
            $(".sortable-list").sortable({
                connectWith: ".connectList"
            }).disableSelection();
        });

        $(document).ready(function () {
            $(".i-checks").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green"
            });
        });

        $("body.canvas-menu .sidebar-collapse").slimScroll({
            height: '100%',
            railOpacity: 0.9
        });


        $(function () {
            App.init();
        });

    </script>

</body>

</html>
