﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-br" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-br">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title ?? "Lorem ipsum")</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="Simple List - Gerenciamento de Listas de Tarefas" name="description" />
    <meta content="Anna Luiza Medeiros" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    @H.Stylesheet("plugins/jquery-ui.min.css")
    @*@H.Stylesheet("bootstrap/bootstrap.min.css")*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @H.Stylesheet("plugins/animate.min.css")
    @H.Stylesheet("principal/style.min.css")
    @H.Stylesheet("principal/style-responsive.min.css")
    <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" type="text/css">
    @H.Stylesheet("theme/default.css")
    @H.Stylesheet("principal/master.css")
    @H.Script("pace/pace.min.js")

</head>
<body class="pace-top bg-white">
   
    <div id="page-container" class="fade in">
        @RenderBody()
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    @H.Script("jquery-migrate-1.1.0.min.js")
    @H.Script("JqueryUI/jquery-ui.min.js")
@*@H.Script("bootstrap/bootstrap.js")*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @H.Script("Slimscroll/jquery.slimscroll.min.js")
    @H.Script("Jquery-cookie/jquery.cookie.js")
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @*<script src="https://apis.google.com/js/client:plus.js"></script>*@

    @H.Script("jquery.livequery.min.js")
    @H.Script("jquery.validate.min.js")
    @H.Script("jquery.meio.mask.js")
    @H.Script("apps.min.js")
    @H.Script("master.js")
    @H.Script("app.js")
@*<script type="text/javascript">
    $(document).ready(function() {
        App.init();
    });


    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();

    function signinCallback(authResult) {
        if (authResult['access_token']) {
            gapi.client.load('oauth2', 'v2', function() {
                gapi.client.oauth2.userinfo.get().execute(function(userData) {

                    console.info(userData.name);
                    console.info(userData.picture);
                });
            });


            function makeApiCall() {
                gapi.client.load('plus', 'v1', function() {
                    var request = gapi.client.plus.people.get({
                        'userId': 'me'
                    });
                    request.execute(function(resp) {
                        var heading = document.createElement('h4');
                        var image = document.createElement('img');
                        image.src = resp.image.url;
                        heading.appendChild(image);
                        heading.appendChild(document.createTextNode(resp.displayName));
                    });
                    console.info(request);
                });
            }

            makeApiCall(); // Autorizado com sucesso
            // Ocultar o botão de login agora que o usuário está autorizado, por exemplo:
            document.getElementById('signinButton').setAttribute('style', 'display: none');
        } else if (authResult['error']) {
            // Ocorreu um erro.
            // Possíveis códigos de erro:
            //  "access_denied" - o usuário negou o acesso a seu aplicativo
            //   "immediate_failed" - não foi possível fazer o login do usuário automaticamente
            // console.log('There was an error: ' + authResult['error']);
        }
    }

    function disconnectUser(access_token) {
        var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' +
            access_token;

        // Realizar uma solicitação GET assíncrona.
        $.ajax({
            type: 'GET',
            url: revokeUrl,
            async: false,
            contentType: "application/json",
            dataType: 'jsonp',
            success: function(nullResponse) {
                // Fazer algo agora que o usuário está desconectado
                // A resposta é sempre indefinida.
            },
            error: function(e) {
                // Gerenciar o erro
                // console.log(e);
                // Você pode apontar usuários para desconectar manualmente se não for bem-sucedido
                // https://plus.google.com/apps
            }
        });
    }

// É possível desconectar com um clique no botão
    $('#revokeButton').click(disconnectUser);


</script>*@
    
    @RenderSection("footer", required: false)
</body>
</html>
