﻿@using System.Collections.Generic
@using System.Linq
@model List<TTag>
@{
    //var etiquetas = (List<TTag>) ViewBag.Etiquetas;

    var board = new TBoard();
    var userId = SecurityContext.Do.User.Id;
    var notCompletedTaskBoardElements = board.notCompletedTaskBoardElements(userId);
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span>
@if (SecurityContext.Do.User.Image != null)
{
    <img alt="@SecurityContext.Do.User.Name" class="img-circle m-b-md" src="@SecurityContext.Do.User.Image" height="50" width="50">
}
else
{
    <img alt="@SecurityContext.Do.User.Name" class="img-circle m-b-md" src="http://placehold.it/50x50">
}
                            </span>
                            <span class="block m-t-xs">
                                <strong class="font-bold">@SecurityContext.Do.User.Name</strong>
                            </span>
                            <span class="text-muted text-xs block"><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action(MVC.Usuarios.EditarConta())">Editar conta</a></li>
                        <li><a class="ajax-modal" href="@Url.Action(MVC.Usuarios.SolicitacaoAlteracaoSenha(false))">Alterar senha</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <i class="navbar-minimalize fa fa-bars"></i>
                </div>
            </li>
            <li>
                    <a href="@Url.Action(MVC.Quadros.Index())" data-toggle="tooltip" data-placement="left" title="Caixa de entrada">
                        <i class="fa fa-inbox"></i> <span class="nav-label">Caixa de entrada @if (notCompletedTaskBoardElements != 0)
                        {
                            <span class='label label-warning pull-right'>@notCompletedTaskBoardElements</span>}</span>
                    </a>
                </li>
            <li>
                <a href="@Url.Action(MVC.Quadros.MeusQuadros())" data-toggle="tooltip" data-placement="left" title="Caixa de entrada">
                    <i class="fa fa-clone"></i> <span class="nav-label">Meus quadros</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action(MVC.Quadros.Gerenciar())" data-toggle="tooltip" data-placement="left" title="Caixa de entrada">
                    <i class="fa fa-gear"></i> <span class="nav-label">Gerenciar quadros</span>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="left" title="Etiquetas"><i class="fa fa-bookmark"></i> <span class="nav-label">Etiquetas</span></a>
                <ul class="nav nav-second-level">
                    
                    @if (Model.Any())
                    {
                        foreach (var etiqueta in Model.Distinct())
                        {
                            <li><a href="@Url.Action(MVC.Quadros.VerQuadros(etiqueta.Id))"> @etiqueta.Name</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="@Url.Action(MVC.Etiquetas.Criar())" class="ajax-modal"><i class="fa fa-plus "></i> Adicionar etiqueta</a></li>
                    }

                </ul>
            </li>

            @*<li>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Meus quadros"><i class="fa fa-bookmark"></i> <span class="nav-label">Meus quadros</span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action(MVC.Quadros.MeusQuadros())">Todos</a></li>
                        <li>
                            <a href="#">Em etiquetas<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">

                                @foreach (var tag in Model)
                                {
                                    if (tag.TBoards.Any(x => x.CreatedBy.Id == SecurityContext.Do.User.Id))
                                    {
                                        <li><a href="@Url.Action(MVC.Quadros.VerQuadros(tag.Id))">@tag.Name</a></li>
                                    }
                                }


                            </ul>

                        </li>

                    </ul>
                </li>*@
            <li>
                <a href="@Url.Action(MVC.Tarefas.Calendario())" data-toggle="tooltip" data-placement="left" title="Calendário"><i class="fa fa-calendar "></i> <span class="nav-label">Calendário</span></a>
            </li>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="left" title="Notas"><i class="fa fa-sticky-note-o "></i> <span class="nav-label">Notas</span></a>
                <ul class="nav nav-second-level">
                    <li><a href="@Url.Action(MVC.Notas.Index())">Painel</a></li>
                    <li><a href="@Url.Action(MVC.Notas.Gerenciar())">Gerenciar notas</a></li>
                </ul>
            </li>
            @*<li>
                <a href="#" data-toggle="tooltip" data-placement="left" title="Lembretes"><i class="fa fa-bookmark"></i> <span class="nav-label">Lembretes</span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Email view</a></li>
                    <li><a href="#">Compose email</a></li>
                    <li><a href="#">Email templates</a></li>
                </ul>
            </li>*@
            <li>
                <a href="@Url.Action(MVC.Quadros.Criar())" data-toggle="tooltip" data-placement="left" title="Adicionar quadro" class="ajax-modal"><i class="fa fa-plus"></i> <span class="nav-label">Adicionar quadro</span></a>
            </li>
        </ul>

    </div>
</nav>
@section Footer{
    @Html.Partial("_SharedScripts")
}