﻿@using System.Linq
@model System.Collections.Generic.List<TBoard>
@{
    var quadro = new TBoard();
    var userId = SecurityContext.Do.User.Id;
    var boardsWithTasksFalse = quadro.notCompletedTaskBoardElements(userId); //pegar todos os quadros que possuem tarefas falsas
    
} 
<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-bell"></i>
        @if (boardsWithTasksFalse != 0)
        {
            <span class="label label-warning">@boardsWithTasksFalse</span>
        }
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        @if (boardsWithTasksFalse != 0)
        {
            foreach (var board in Model)
            {
                var totalBoardElements = board.TAssignments.Count(x => x.Completed == false); //Pegar todas as tarefas incompletas do quadro do foreach

                <li>
                    <a href="#">
                        <div>
                            @if (totalBoardElements != 0)
                            {
                                <span><i class="fa fa-comments-o"> </i> <strong>@totalBoardElements</strong> tarefa(s) não-concluída(s) em: <strong>@board.Name</strong>. </span>
                            }
                            else
                            {
                                <span><i class="fa fa-comments-o"></i> Parabéns! Você não possui tarefas não possui tarefa(s) não-concluída(s) em: <strong>@board.Name</strong>.</span>
                            }
                            @*<span class="pull-right text-muted small">4 minutes ago</span>*@
                        </div>
                    </a>
                </li>

            }
        }
        else
        {
            <li>
                <a href="#">
                    <div>
                        <span>
                            <i class="fa fa-comments-o"></i> Parabéns! Todas as tarefas dos seus quadros estão concluídas.
                        </span>
                        @*<span class="pull-right text-muted small">4 minutes ago</span>*@
                    </div>
                </a>
            </li>
        }
        
    </ul>
</li>

