﻿<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple List - Erro 404 </title>

    @H.Stylesheet("inspinia/bootstrap.min.css")
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @H.Stylesheet("inspinia/toastr.min.css")
    @H.Stylesheet("inspinia/animate.css")
    @H.Stylesheet("inspinia/style.min.css")
    @H.Stylesheet("plugins/jquery-ui.min.css")

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Sentimos muito. Essa página não foi encontrada.</h3>

        <div class="error-desc">
            Ocorreu algum erro ou a página que você estava tentando acessar não foi encontrada.
            <button class="btn btn-w-m btn-danger" type="button">Voltar a página inicial</button>
        </div>
    </div>

    <!-- Mainly scripts -->
@H.Script("inspinia/jquery-2.1.1.js")
@H.Script("inspinia/bootstrap.min.js")

</body>

</html>
