﻿/*------------------------------------------/
/-----------------Features------------------/
/------------------------------------------*/

.features
{
	padding: 100px 0px 100px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.feature-icons
{
	width: 12%;
	float: left;
}
.featurebox
{
	margin-top: 60px;
}
.feature-icons img
{
	width: 100%;
}
.fh-desc
{
	width: 80%;
	float: right;
}

.fh-desc h3
{
	margin: 0px !important;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #242424;
}
.fh-desc p {
    color: #888;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    margin-top: 5px;
	width: 90%;
}


/*------------------------------------------/
/-----------------Subscribe------------------/
/------------------------------------------*/

.subscribe-social {
    background-color: #1AB394;
    padding: 20px 0 5px;
}

.form-group
{
	margin-bottom: 0px !important;
	
}
.form-control, .form-control:focus
{
	color: #fff !important;
	border: 1px solid #fff !important;
	background-color: #1AB394 !important;
	box-shadow: none !important;
}
.social
{
	list-style: none;
	display: inline-block;
}
.social li
{
	display: inline-block;
	margin: 0px 5px;
}
.social li a
{
	color: #fff;
	font-size: 35px;
	line-height: 0px !important;
}


.address
{
	padding: 60px 0px;
	background-color: rgba(0,0,0,0.1)
}
.info p
{
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #888;
}
.btn-or
{
	background-color: #fff !important;
	border: 1px solid #fff !important;
	color: #1AB394 !important;
}
.form-control::-webkit-input-placeholder { color: white !important; }
.form-control:-moz-placeholder { color: white !important; }
.form-control::-moz-placeholder { color: white !important; }
.form-control:-ms-input-placeholder { color: white !important; }
/*------------------------------------------/
/-----------------Footer--------------------/
/------------------------------------------*/
.foot
{
	padding: 50px 0px 30px;
}
.foot-logo
{
	font-family: 'Pacifico', cursive;
	color: #1AB394;	
	font-size: 30px;
	text-align: center;
}
.foot-text
{
	color: #888;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 12px;
	font-weight: 600;
	padding: 20px 0px;
	text-transform: uppercase;
}
.foot-text a
{
	color: #1AB394;	
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/*Ajustes*/
.modal-content {
    border-radius: 0px !important;
}

.form-control-optional {
    box-shadow: none !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-group {
    margin-bottom: 15px !important;
    padding-top: 5px !important;
}
#Email-error, #PasswordString-error, #Name-error {
    color: #1AB394 !important;
    font-size: 12px !important;
    padding: 5px !important;
}