﻿<form action="UploadImages" class="dropzone" id="my-awesome-dropzone" enctype="multipart/form-data"></form>
<form action="FetchFromUrl">
    <div class="control-group">
        <div class="controls form-inline">
            <label for="url">URL</label>
            <input type="text" class="form-control" placeholder="http://" id="url-ip" style="width: 450px">
            <input type="submit" class="btn btn-success" id="b-url">
        </div>
    </div>
</form>
<div id="url-i-pr"></div>
    <script>
        $(document).ready(function () {
            $(this).livequery(function () {
                Dropzone.options.myAwesomeDropzone = {
                    paramName: "file",
                    maxFilesize: 10,
                    url: 'UploadImages',
                    previewsContainer: "#dropzone-previews",
                    uploadMultiple: true,
                    parallelUploads: 5,
                    maxFiles: 20,
                    init: function () {
                        var cd;
                        this.on("success", function (file, response) {
                            $('.dz-progress').hide();
                            $('.dz-size').hide();
                            $('.dz-error-mark').hide();
                            console.log(response);
                            console.log(file);
                            cd = response;
                        });
                        this.on("addedfile", function (file) {
                            var removeButton = Dropzone.createElement("<a href=\"#\">Remove file</a>");
                            var _this = this;
                            removeButton.addEventListener("click", function (e) {
                                e.preventDefault();
                                e.stopPropagation();
                                _this.removeFile(file);
                                var name = "largeFileName=" + cd.pi.largePicPath + "&smallFileName=" + cd.pi.smallPicPath;
                                $.ajax({
                                    type: 'POST',
                                    url: 'DeleteImage',
                                    data: name,
                                    dataType: 'json'
                                });
                            });
                            file.previewElement.appendChild(removeButton);
                        });
                    }
                };
            });
        });

    </script>
