﻿@using System
@using System.Collections.Generic
@using System.Linq
@model TAssignment
           @{
               var comentarios = (List<TComent>) ViewBag.Comentarios;
           }
<div id="dropzone-previews"></div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>@Model.Name.LimitSize(50) <small class="text-primary">de @Model.Board.Name</small></h3>
                <small class="pull-left text-navy"><strong>Prazo final:</strong> @(Model.EndDate != null ? Model.EndDate.Value.ToShortDateString() : "Não há prazo final.")</small>
                <br />
                <div class="small m-t-xs">
                    <p>
                        <strong>Descrição:</strong> @(Model.Content ?? "Não há descrição.")
                    </p>
                </div>
                <div class="project-people">
                    @if (Model.Board.TUsersBoards.Any())
                    {
                        foreach (var userBoard in Model.Board.TUsersBoards)
                        {
                            <a href="#"><img src="@(userBoard.User.Image ?? "http://placehold.it/50x50")" class="img-circle" title="@userBoard.User.Name" alt="@userBoard.User.Name"></a>
                        }
                    }
                </div>

            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-lg-8" id="data-container-modal">

                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-block btn-outline btn-primary ajax-partial-page modal-ajax" href="@Url.Action(MVC.Comentarios.AdicionarComentario(Model.Id))">Adicionar comentário</a>
                            @*<a class="btn btn-block btn-outline btn-primary ajax-partial-page" id="anexar-arquivo" href="@Url.Action(MVC.Tarefas.AnexarArquivo())">Anexar arquivo</a>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="margin-top-five" id="container-comentario" data-container="comentario-container">
                            </div>
                            @foreach (var coment in comentarios.OrderByDescending(x=>x.CreationDate))
                            {
                                <div class="margin-top-five">
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">há @((DateTime.Now - coment.CreationDate).Days) dia(s) atrás</small>
                                            <div class="margin-top-five">
                                                <strong>@coment.CreatedBy.Name</strong> postou um comentário na tarefa: <strong>@coment.Assignment.Name</strong>. <br>
                                                <small class="text-muted">@coment.CreationDate.ToShortTimeString() - @coment.CreationDate.ToShortDateString()</small>
                                                <div class="well">
                                                    @coment.Content
                                                </div>
                                                @*@if (coment.CreatedBy.Id == SecurityContext.Do.User.Id)
                                                {
                                                    <div class="pull-right">
                                                        <a class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> Editar </a>
                                                        <a href="@Url.Action(MVC.Comentarios.Excluir(coment.Id))" class="btn btn-xs btn-white ajax-modal"><i class="fa fa-trash"></i> Excluir</a>
                                                    </div>
                                                }*@
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-8">
                            <div class="margin-top-five">
                                <div class="feed-element">
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">há @((DateTime.Now - Model.CreationDate).Value.Days) dia(s) atrás</small>
                                        <div class="margin-top-five">
                                            <strong>@Model.Board.CreatedBy.Name</strong> adicionou essa tarefa ao quadro: <strong>@Model.Board.Name</strong>. <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*<script>
    $(document).ready(function () {
        $(this).livequery(function () {
            $(this).on('click', '#anexar-arquivo', function () {
                var myDropzone = Dropzone.forElement("form#my-awesome-dropzone");
            });
        });
    });
</script>*@