﻿@model TAssignment
@{
    var returnUrl = ViewBag.ReturnUrl;               
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar tarefa: "@Model.Name.LimitSize(30)" ?</h4>
            </div>
            @using (Html.BeginForm(MVC.Tarefas.Editar(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("idBoard").Value(Model.Board.Id))
                @(this.Hidden("returnUrl").Value(returnUrl))
                @(this.Hidden("Id").Value(Model.Id))
                @(this.Hidden("CreationDate").Value(Model.CreationDate))
                <div class="modal-body">
                    <label class="control-label">Nome da tarefa:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextBox("Name").Class("form-control required"))
                        </div>
                    </div>
                    <br />
                    <label class="control-label">Detalhes:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextArea("Content").Class("form-control"))
                        </div>
                    </div>
                    <br />
                    <label class="control-label">Prazo final:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15 ">
                            <div class="input-group">
                                @(this.TextBox("EndDate").Class("form-control").Attr("alt", "date"))
                                @*@(this.TextBox("EndDate").Class("form-control").Id("datepicker").Attr("alt", "date").Attr("data-provide", "datepicker"))*@
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row row-space-10 i-checks">
                        <div class="col-md-12 m-b-15">
                            <label class="control-label">Concluída?</label>
                            @(this.CheckBox("Completed").Class("icheckbox_square-green"))
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(".i-checks").livequery(function () {
        $(this).iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green"

        });
    });

    $("#EndDate").livequery(function () {
        $(this).dcalendarpicker({
            format: 'dd/mm/yyyy'
        });
    });
</script>
