﻿@model TAssignment
@{
    var returnUrl = ViewBag.ReturnUrl;
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deseja excluir a tarefa: "@Model.Name.LimitSize(30)" ?</h4>
            </div>
            @using (Html.BeginForm(MVC.Tarefas.Remover(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("returnUrl").Value(returnUrl))
                @(this.Hidden("idTarefa").Value(Model.Id))
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir essa tarefa?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Excluir</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

