﻿@{
    var returnUrl = ViewBag.ReturnUrl;
    ModelSelectList<TBoard> quadros = (ModelSelectList<TBoard>)ViewBag.Quadros;
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar tarefa rápida</h4>
            </div>
            @using (Html.BeginForm(MVC.Tarefas.Criar(), FormMethod.Post, new { @class = "form-validate" }))
            {
                @(this.Hidden("returnUrl").Value(returnUrl))
                <div class="modal-body">
                    <label class="control-label">Nome da tarefa:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            @(this.TextBox("Name").Class("form-control required"))
                        </div>
                    </div>
                    <br />
                    <label class="control-label">Prazo final:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15 ">
                            <div class="input-group">
                                @(this.TextBox("EndDate").Class("form-control").Attr("alt", "date"))
                                @*@(this.TextBox("EndDate").Class("form-control").Id("datepicker").Attr("alt", "date").Attr("data-provide", "datepicker"))*@
                            </div>
                        </div>
                    </div>
                    <br />
                    <label class="control-label">Selecione um quadro:</label>
                    <div class="row row-space-10">
                        <div class="col-md-12 m-b-15">
                            <div class="input-group">
                                @(this.AutoSelect("idBoard").Options(quadros).Class("form-control chosen-select required"))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(".i-checks").livequery(function () {
        $(this).iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green"

        });
    });
    var config = {
        '.chosen-select': { width: "238px" },
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    $("#EndDate").livequery(function () {
        $(this).dcalendarpicker({
            format: 'dd/mm/yyyy'
        });
    });
</script>
