﻿@model System.Collections.Generic.List<TAssignment>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Simple Tasker - Calendário";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tarefas</h5>
                </div>
                <div class="ibox-content">
                    <div id='external-events'>
                        <p>Arraste a tarefa para o dia escolhido no calendário:</p>
                        @foreach (var assignment in Model)
                        {
                            <div class='external-event fc-event navy-bg'>@assignment.Name</div>
                        }
                      
                        <p class="m-t">
                            <input type='checkbox' id='drop-remove' class="i-checks"/> <label for='drop-remove'>Remover da lista após arrastar</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Calendário</h5>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>

                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer{
    @Html.Partial("_ScriptsCalendario")
}