﻿@model TUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            Olá <strong>@Model.Name</strong>, você está recebendo esse e-mail, porque solicitou em nosso sistema a alteração da sua senha de acesso. Estamos quase lá!
        </p>
        <p>
            Caso você não tenha solicitado uma alteração de senha de acesso, ignore esse e-mail.
        </p>
        <p>Clique <a href="http://localhost/projetofinal/usuarios/alterarsenha?token=@(Model.Token)">aqui</a> para alterar sua senha de acesso ou cole esse link: http://localhost/projetofinal/usuarios/alterarsenha?token=@(Model.Token) em seu navegador.</p>
        <p>
            Equipe SimpleTasker
        </p>

    </div>
</body>
</html>