﻿@model TUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            Olá <strong>@Model.Name</strong>, muito obrigada por se cadastrar no SimpleTasker. Estamos quase lá!
        </p>
        <p>
            Agora só falta você ativar a sua conta para começar a utilizar todos nossos recursos :)
        </p>
        <p>Clique <a href="http://localhost/projetofinal/usuarios/ativarconta?idUser=@(Model.Token)">aqui</a> para ativar ou cole esse link: http://localhost/projetofinal/usuarios/ativarconta?idUser=@(Model.Id) em seu navegador.</p>
        <p>
            Equipe SimpleTasker
        </p>

    </div>
</body>
</html>
